<div class="row" *ngIf="initiativeHistoryIndexList.length">
  <div class="col-md-12">
    <div class="card text card-initiative">
      <div class="card-body">
        <div class="form-initiative">
          <table class="table table-bordered mt-3">
            <thead class="text-center bg-light">
              <th>Stage</th>
              <th>Status</th>
              <th>Action By</th>
              <th>Action Date</th>
              <th>Comment</th>
              <th class="th-action"> <i class="fas fa-cog"></i> </th>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let item of initiativeHistoryIndexList; let i = index;">
                <td> {{ ReplaceStage(item.stage) }} </td>
                <td> {{ item.status | titlecase}} </td>
                <td> {{ item.submittedBy }} </td>
                <td> {{ item.submittedDate | date:'dd/MM/yyyy HH:mm:ss' }} </td>
                <td> {{ item.comment }} </td>
                <td class="td-action">
                  <button class="btn btn-primary text-white" (click)="ShowInitiativeHistory(item.initiativeIdHistory)">
                    <i class="fas fa-search"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>