<div class="row">
    <div class="col-6 col-md-8 col-lg-9 col-xl-10">
        <h4>Gate 4</h4>
    </div>
    <div class="col-6 col-md-4 col-lg-3 col-xl-2">
        <select class="form-control" (change)="selectChange($event)" [(ngModel)]="version" *ngIf="mainTab">
            <ng-container *ngFor="let item of versionList">
                <option [value]="item.id">{{item.text}}</option>
            </ng-container>
        </select>
    </div>
</div>
<form class="form-group" [formGroup]="gate4Form">
    <!-- Row -->
    <div class="row">
        <!-- Change chps to checkControl or checkNotControl -->
        <div class="col-sm-12 col-md-6 mt-4" [ngClass]="ps.checkControl(gate4Form,'Gate4','vacDate')">
            <div class="row">
                <div class="col-12"><span>VAC Date</span><span class="text-danger">*</span> : </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="dd/mm/yyyy" bsDatepicker
                            #dpVAC="bsDatepicker" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', isAnimated: true }"
                            formControlName="vacDate" [triggers]="viewMode ? '' : 'click:click'"
                            [ngClass]="{'is-invalid': getFormError('vacDate') }" />
                        <div *ngIf="!viewMode" class="input-group-append">
                            <i class="far fa-calendar right-icon mt-2"></i>
                        </div>
                        <div class="text-feedback" *ngIf="getFormError('vacDate')">
                            VAC Date is required !
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mt-4" [ngClass]="ps.checkControl(gate4Form,'Gate4','vacStatus')">
            <div class="row">
                <div class="col-12"><span>VAC Status</span></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input class="form-control" placeholder="" type="text" formControlName="vacStatus" readonly />
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
    <div class="row mt-4">
        <div class="col-12">
            <div class="row">
                <div class="col-12"><strong>VAC Deliverables Status</strong></div>
            </div>
            <!-- Col -->
            <div class="row">
                <!-- Col 1 -->
                <div class="col-sm-12 col-md-6 mt-3" [ngClass]="ps.checkControl(gate4Form,'Gate4','eMocStatus')">
                    <div class="row">
                        <div class="col-12"><span>eMOC Status</span></div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input class="form-control" type="text" formControlName="eMocStatus" readonly />
                        </div>
                    </div>
                </div>
                <!-- Col 2 -->
                <div class="col-sm-12 col-md-6 mt-3"
                    [ngClass]="ps.checkControl(gate4Form,'Gate4','executionLookbackStatus')">
                    <div class="row">
                        <div class="col-12"><span>Execution Lookback Status</span></div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input class="form-control" type="text" formControlName="executionLookbackStatus"
                                readonly />
                        </div>
                    </div>
                </div>
                <!-- Col 3 -->
                <div class="col-sm-12 col-md-6 mt-3" [ngClass]="ps.checkControl(gate4Form,'Gate4','sapStatus')">
                    <div class="row">
                        <div class="col-12"><span>SAP Status</span></div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input class="form-control" type="text" formControlName="sapStatus" readonly />
                        </div>
                    </div>
                </div>
                <!-- Col -->
            </div>
        </div>
    </div>
    <!-- Row -->
    <div class="row">
        <div class="col-sm-12 col-md-6 mt-4" [ngClass]="ps.checkControl(gate4Form,'Gate4','gateDate')">
            <div class="row">
                <div class="col-12"><span>Gate Date</span><span class="text-danger">*</span> : </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="dd/mm/yyyy" bsDatepicker
                            #dpGetDate="bsDatepicker" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', isAnimated: true }"
                            formControlName="gateDate" [triggers]="viewMode ? '' : 'click:click'"
                            [ngClass]="{'is-invalid': getFormError('gateDate') }" />
                        <div *ngIf="!viewMode" class="input-group-append">
                            <i class="far fa-calendar right-icon mt-2"></i>
                        </div>
                        <div class="text-feedback" *ngIf="getFormError('gateDate')">
                            Gate Date is required !
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mt-4" [ngClass]="ps.checkControl(gate4Form,'Gate4','gateStatus')">
            <div class="row">
                <div class="col-12"><span>Gate Status</span></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input class="form-control" placeholder="" type="text" formControlName="gateStatus" readonly />
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
    <div class="row mt-4">
        <div class="col-12">
            <div class="row">
                <div class="col-12"><strong>Benefit and Justification</strong></div>
            </div>
            <!-- Col -->
            <div class="row">
                <!-- Col 1 -->
                <div class="col-sm-12 col-md-4 mt-3" [ngClass]="ps.checkControl(gate4Form,'Gate4','benefit')">
                    <div class="row">
                        <div class="col-12"><span>Benefit (M THB/Year)</span><span class="text-danger"
                                *ngIf="getValidateService().showBenefitAmount">*</span> : </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input class="form-control" type="text" formControlName="benefit" mask="separator.2"
                                thousandSeparator="," [ngClass]="{'is-invalid': getFormError('benefit') }" />
                            <div class="text-feedback" *ngIf="getFormError('benefit')" (blur)="calculatePayback()">
                                Benefit is required !
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Col 2 -->
                <div class="col-sm-12 col-md-4 mt-3" [ngClass]="ps.checkControl(gate4Form,'Gate4','irr')">
                    <div class="row">
                        <div class="col-12"><span>% IRR</span><span class="text-danger"
                                *ngIf="getValidateService().showIrr">*</span> : </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input class="form-control" type="text" formControlName="irr" mask="separator.2"
                                thousandSeparator="," [ngClass]="{'is-invalid': getFormError('irr') }" />
                            <div class="text-feedback" *ngIf="getFormError('irr')">
                                IRR is required !
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Col 3 -->
                <div class="col-sm-12 col-md-4 mt-3" [ngClass]="ps.checkControl(gate4Form,'Gate4','simplePayback')">
                    <div class="row">
                        <div class="col-12"><span>Simple Payback (Year)</span></div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input class="form-control" type="text" formControlName="simplePayback" mask="separator.2"
                                thousandSeparator="," readonly />
                        </div>
                    </div>
                </div>
                <!-- Col 4 -->
                <div class="col-sm-12 col-md-4 mt-3" [ngClass]="ps.checkControl(gate4Form,'Gate4','ram')">
                    <div class="row">
                        <div class="col-12"><span>RAM Level</span><span class="text-danger"
                                *ngIf="getValidateService().showRam">*</span> : </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input class="form-control" type="text" formControlName="ram" mask="separator.2"
                                thousandSeparator="," [ngClass]="{'is-invalid': getFormError('ram') }" />
                            <div class="text-feedback" *ngIf="getFormError('ram')">
                                RAM Level is required !
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Col 5 -->
                <div class="col-sm-12 col-md-4 mt-3" [ngClass]="ps.checkControl(gate4Form,'Gate4','jFactor')">
                    <div class="row">
                        <div class="col-12"><span>J-Factor</span><span class="text-danger"
                                *ngIf="getValidateService().showJFactor">*</span> : </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input class="form-control" type="text" mask="separator.2" thousandSeparator=","
                                formControlName="jFactor" [ngClass]="{'is-invalid': getFormError('jFactor') }" />
                            <div class="text-feedback" *ngIf="getFormError('jFactor')">
                                J-Factor is required !
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Col -->
            </div>
        </div>
    </div>
    <!-- Row -->
    <div class="row">
        <div class="col-12 mt-4">
            <strong>PIC Members</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-2">
            <span>Center</span>
        </div>
        <div class="col-12 col-md-12 col-lg-8 col-xl-6 mt-2">
            <div class="card">
                <div class="card-body">
                    <ng-container *ngFor="let centerStream of getBuStreamByType('Center') ; let i = index">
                        <button [disabled]="viewMode" class="btn {{ i > 0 ? 'ml-3' : null }}"
                            [ngClass]="{'btn-success': findCenterStream(centerStream.attribute01), 'btn-secondary': !findCenterStream(centerStream.attribute01), 'btn-danger': getFormError('centerStream')}"
                            (click)="toggle(centerStream.attribute01,'center')">{{centerStream.attribute01}}</button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span>Up Stream</span>
        </div>
        <div class="col-12 col-md-12 col-lg-8 col-xl-6 mt-2">
            <div class="card">
                <div class="card-body">
                    <ng-container *ngFor="let upStream of getBuStreamByType('Up Stream') ; let i = index">
                        <button [disabled]="viewMode" class="btn {{ i > 0 ? 'ml-3' : null }}"
                            [ngClass]="{'btn-success': findUpStream(upStream.attribute01), 'btn-secondary': !findUpStream(upStream.attribute01), 'btn-danger': getFormError('upStream')}"
                            (click)="toggle(upStream.attribute01,'up')">{{upStream.attribute01}}</button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span>Down Stream</span>
        </div>
        <div class="col-12 col-md-12 col-lg-8 col-xl-6 mt-2">
            <div class="card">
                <div class="card-body">
                    <ng-container *ngFor="let downStream of getBuStreamByType('Down Stream') ; let i = index">
                        <button [disabled]="viewMode" class="btn {{ i > 0 ? 'ml-3' : null }}"
                            [ngClass]="{'btn-success': findDownStream(downStream.attribute01), 'btn-secondary': !findDownStream(downStream.attribute01), 'btn-danger': getFormError('downStream')}"
                            (click)="toggle(downStream.attribute01,'down')">{{downStream.attribute01}}</button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
    <div class="row">
        <div class="col-sm-12 col-md-6 mt-3">
            <div class="row">
                <div class="col-12"><span>Presentation (Link)</span></div>
            </div>
            <div class="row">
                <div class="col-12"><input class="form-control" formControlName="presentationLink" type="text" />
                </div>
                <div class="col-12">
                    <span class="link-text" *ngIf="checkLink('presentationLink')"
                        (click)="gotoLink('presentationLink')">Presentation (Link)</span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mt-3">
            <div class="row">
                <div class="col-12"><span>PIC MOM (Link)</span></div>
            </div>
            <div class="row">
                <div class="col-12"><input class="form-control" formControlName="picMomLink" type="text" />
                </div>
                <div class="col-12">
                    <span class="link-text" *ngIf="checkLink('picMomLink')" (click)="gotoLink('picMomLink')">PIC MOM
                        (Link)</span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mt-3">
            <div class="row">
                <div class="col-12"><span>VAC CheckList (Link)</span></div>
            </div>
            <div class="row">
                <div class="col-12"><input class="form-control" formControlName="vacCheckListLink" type="text" />
                </div>
                <div class="col-12">
                    <span class="link-text" *ngIf="checkLink('vacCheckListLink')"
                        (click)="gotoLink('vacCheckListLink')">VAC CheckList (Link)</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
    <div class="row" [ngClass]="ps.checkControl(gate4Form,'Gate4','note')">
        <div class="col-sm-12 col-md-12 mt-3">
            <div class="row">
                <div class="col-12"><span>Note</span></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <textarea class="form-control" rows="4" formControlName="note"></textarea>
                </div>
            </div>
        </div>
    </div>
</form>