PTT-GC-API/.vs/
.vs/
/PTT-GC-API/Properties/PublishProfiles/FolderProfile1.pubxml.user
/PTT-GC-API/Properties/PublishProfiles/FolderProfile1.pubxml
/PTT-GC-API/Properties/PublishProfiles/FolderProfile.pubxml.user
/PTT-GC-API/Properties/PublishProfiles/FolderProfile.pubxml
/PTT-GC-API/Properties/PublishProfiles/FolderProfile2.pubxml.user
/PTT-GC-API/Properties/PublishProfiles/FolderProfile2.pubxml
/Initiative-Batch-Before-Deploy
