<div class="form-group row mt-3">
  <div class="col-md-12">
    <label style="font-size: 42px;"> {{ name }} </label>
  </div>
</div>

<div bsModal #searchModal="bs-modal" class="modal fade modal-search" [config]="{backdrop: 'static'}">
  <app-advance-search [name]="name" [progress]="params.progress" [complete]="params.complete" [cancel]="params.cancel"
    (AdvancedSearch)="AdvancedSearch($event)" (modelClose)='HideModal()'>
  </app-advance-search>
</div>

<app-initiative-search [name]="name" [advanced]="advanced" (refresh)="Refresh()" (changeStatus)="OnChangeStatus($event)"
  (changePageLength)="ChangePageLength($event)" (changeSearch)="Search($event)" (modelShow)='ShowModal($event)'>
</app-initiative-search>

<br>

<ngx-spinner bdColor="#fffffff" color="#105bac" size="medium" type="ball-spin" [fullScreen]="false"></ngx-spinner>


<ng-template [ngIf]="initiatives.length && !isLoading" [ngIfElse]="Nodata">
  <app-initiative-list *ngIf="!isLoading" [name]="name" [IsRefresh]="isRefresh" [text]="params.text"
    [progress]="params.progress" [complete]="params.complete" [cancel]="params.cancel" [pagination]="pagination"
    [initiatives]="initiatives" [advanced]="advanced" (OnPageChanged)="PageChanged($event)"
    (sortByColumn)="SortBy($event)" (deleteInitiative)="DeleteInitiative($event)">
  </app-initiative-list>
</ng-template>
<ng-template #Nodata>
  <app-initiative-no-data></app-initiative-no-data>
</ng-template>