<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="maintain-tab" data-toggle="tab" href="#maintain" role="tab"
            aria-controls="maintain" aria-selected="false">Maintain Data</a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#general" role="tab" aria-controls="home"
            aria-selected="true">Setting</a>
    </li> -->
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="maintain" role="tabpanel" aria-labelledby="maintain-tab">
        <app-maintain></app-maintain>
    </div>
    <!-- <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="home-tab">
        Setting
        <app-setting></app-setting>
    </div> -->
</div>