<div class="animated fadeIn">

    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-4">
            <div class="form-group">
                <span class="fa fa-search form-control-feedback has-search"></span>
                <input type="text" class="form-control pl-5" placeholder="Search" [(ngModel)]="searchModel" />
                <!-- (ngModelChange)="OnFilterWithKeyDown($event)" -->
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <button class="btn btn-success" (click)="OnFilterWithKeyDown()">Search</button>
        </div>
    </div>

    <table class="table table-hover table-striped">
        <thead>
            <tr class="table-active text-center">
                <th width="8%" [ngStyle]="{ cursor: 'pointer' }" (click)="sortBy('FirstName')">
                    Name
                </th>
                <th width="8%" [ngStyle]="{ cursor: 'pointer' }" (click)="sortBy('LastName')">
                    Surname
                </th>
                <th width="15%" [ngStyle]="{ cursor: 'pointer' }" (click)="sortBy('Email')">
                    Email
                </th>
                <th width="15%" [ngStyle]="{ cursor: 'pointer' }" (click)="sortBy('OwnerName')">
                    Assigned To
                </th>
                <th width="8%" [ngStyle]="{ cursor: 'pointer' }" (click)="sortBy('PositionTextEN')">
                    Position
                </th>
                <th width="8%" [ngStyle]="{ cursor: 'pointer' }" (click)="sortBy('BUText')">
                    BU
                </th>
                <th width="10%" [ngStyle]="{ cursor: 'pointer' }" (click)="sortBy('WorkstreamTitle')">
                    Workstream
                </th>
                <th width="8%" [ngStyle]="{ cursor: 'pointer' }" (click)="sortBy('RoleName')">
                    Role
                </th>
                <th width="8%" [ngStyle]="{ cursor: 'pointer' }" (click)="sortBy('CreateOn')">
                    Create On
                </th>
                <th width="8%" [ngStyle]="{ cursor: 'pointer' }" (click)="sortBy('Remark')">
                    Remark
                </th>
                <th width="8%" [ngStyle]="{ cursor: 'pointer' }">
                    Edit
                </th>
                <th class="th-action" width="8%" [ngStyle]="{ cursor: 'pointer' }" (click)="sortBy('Active')">
                    Active
                </th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of dataTable; let i = index">
                <tr>
                    <td>{{ item.firstName }}</td>
                    <td>{{ item.lastName }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.ownerName }}</td>
                    <td>
                        {{ item.positionTextEN }}
                    </td>
                    <td>{{ item.buText }}</td>
                    <td>
                        {{ item.workstreamTitle }}
                    </td>
                    <td>
                        {{ item.roleName }}
                    </td>
                    <td>
                        {{ item.createOn }}
                    </td>
                    <td>
                        {{ item.remark }}
                    </td>
                    <td>
                        <a class="btn btn-warning action-anchor" (click)="navigateUserToEdit(i)">
                            <i class="fa fa-pen action-span"></i>
                        </a>
                    </td>
                    <td class="td-action">
                        <input type="checkbox" class="action-size disabled" [(ngModel)]="item.active" disabled />
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <hr />
    <ng-container class="mt-4">
        <div class="d-flex justify-content-left">
            <div class="form-inline">
                <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems"
                    [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="currentPage" [maxSize]="maxSize"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                    (ngModelChange)="pageChanged($event)" #pager>
                </pagination>
            </div>
        </div>
    </ng-container>

</div>