<!-- <div bsModal #ViewLogHistoryModal="bs-modal" class="modal fade modal-ViewLog" [config]="{ backdrop: 'static' }">
  <app-view-log-history (modelClose)="CloseViewLogHistory()" [id]="id"></app-view-log-history>
</div>

<div bsModal #HistoryStatus="bs-modal" class="modal fade modal-ViewLog" [config]="{ backdrop: 'static' }">
  <app-history-status (modelClose)="CloseHistoryStatus()" [id]="id" [stage]="history"></app-history-status>
</div> -->

<app-initiative-header [name]="name"></app-initiative-header>
<!-- <app-form-tabs></app-form-tabs> -->

<div class="form-group row">
  <div class="col-md-12" style="padding-left: inherit;padding-right: inherit;">
    <div class="card text card-initiative">
      <div class="card-body">
        <!-- <app-initiative-information [id]="id"></app-initiative-information> -->
        <div class="form-initiative">
          <app-initiative-info [id]="id"></app-initiative-info>
        </div>
        <div class="form-initiative">
          <label style="font-size: 28px;color: #454545;">Initiative Status</label>
          <button class="btn float-right" style="color: #0078B8;">Hide
          </button>
          <hr>
        </div>

        <div class="form-initiative">
          <ng-template [ngIf]="statusTrackings.length" [ngIfElse]="Nodata">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-hover">
                    <thead>
                      <tr class="table-active text-center table-initiative">
                        <th>State</th>
                        <th>Status</th>
                        <th>Stage</th>
                        <th>Approve by</th>
                        <th>Approve Date</th>
                        <th class="th-action">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of statusTrackings; let i = index;" class="table-initiative">
                        <td>
                          <ng-container *ngIf="item.status === 'Complete'">
                            <i class="fas fa-check"></i>
                          </ng-container>
                          <ng-container *ngIf="item.status === 'In Progress'">
                            <i class="fas fa-sync-alt"></i>
                          </ng-container>
                        </td>
                        <td> {{ item.status }} </td>
                        <td> {{ ReplaceStage(item.stage) }} </td>
                        <td> {{ item.approvedBy }} </td>
                        <td> {{ item.approvedDate | date:'dd/MM/yyyy HH:mm:ss' }} </td>
                        <td class="td-action">
                          <ng-container *ngIf="CheckStage(item.stage)">
                            <button class="btn btn-warning text-white" (click)="ShowHistory(item.stage)">
                              <i class="fas fa-history"></i>
                            </button>
                          </ng-container>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template #Nodata>
            <app-initiative-no-data></app-initiative-no-data>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>