<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>QA</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>bin\QA\netcoreapp3.1\publish\</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <ProjectGuid>7cc6f7bd-444a-4b71-a62a-07d0e5c9a940</ProjectGuid>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
  <PropertyGroup>
    <EnvironmentName>QA</EnvironmentName>
  </PropertyGroup>
  <ItemGroup>
    <ResolvedFileToPublish Include="appsettings.QA.json">
      <RelativePath>appsettings.QA.json</RelativePath>
    </ResolvedFileToPublish>
    <Content Update="appsettings.*.json" CopyToPublishDirectory="Never" />
  </ItemGroup>
</Project>