<app-initiative-validate></app-initiative-validate>

<app-initiative-header [name]="name"></app-initiative-header>
<!-- <app-form-tabs [Required]="Required" [isMax]="Max"></app-form-tabs> -->
<!-- <app-initiative-info [initiativeId]="id"></app-initiative-info> -->
<!-- <app-initiative-box></app-initiative-box> -->


<!-- 
<app-initiative-forms [id]="id" [page]="page" (Required)="CheckRequired($event)" (SendCim)="CheckCim($event)"
  (SendCapex)="CheckCapex($event)" (SendStrategy)="CheckStrategy($event)" (SendMax)="CheckMax($event)">
</app-initiative-forms> -->