<!-- modal form -->


<!-- <ng-container *ngIf="Impact">
  <div bsModal #ContactIO="bs-modal" class="modal fade modal-ViewLog" [config]="{ backdrop: 'static' }">
    <app-contact-io (modelClose)="CloseContactIO()" [id]="GetId()"></app-contact-io>
  </div>
</ng-container> -->

<!-- <ng-container>
  <div bsModal #AttachmentModal="bs-modal" class="modal fade modal-Attachment" [config]="{ backdrop: 'static'}">
    <app-initiative-attachment (modelClose)="CloseAttachment()" [id]="GetId()">
    </app-initiative-attachment>
  </div>
</ng-container> -->




<!-- header -->
<div class="form-group row">
  <div class="col-md-12" *ngIf="page == 'create'">
    <label style="font-size: 28px;">My Own Initiatives <span class="fa fa-angle-right" aria-hidden="true"></span> Create
      New</label>
  </div>
  <div class="col-md-12" *ngIf="page == 'create-survey'">
    <label style="font-size: 28px;">My Own Initiatives <span class="fa fa-angle-right" aria-hidden="true"></span> Create
      New</label>
  </div>
  <div class="col-md-12" *ngIf="page != 'create' && page != 'create-survey'">
    <label style="font-size: 28px;">My Own Initiatives <span class="fa fa-angle-right" aria-hidden="true"></span>
      {{getInitiativeName()}}</label>
  </div>
</div>
<!-- end header -->

<ng-container *ngIf="page == 'create-survey'; else createNotsurvey">
  <!-- type Digital -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general"
        aria-selected="true">
        <span>
          IT & digital Budget Survey
        </span>
      </a>
    </li>
  </ul>

  <!-- page section -->
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
      <app-digital-and-it-form [formGroup]="formGroup" [id]="GetId()"></app-digital-and-it-form>
    </div>
  </div>
</ng-container>
<ng-template #createNotsurvey>
  <!-- page = 'create' -->
  <ng-container *ngIf="page == 'create'; else editPage">
    <!-- tab section -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#general" role="tab" aria-controls="home"
          aria-selected="true">
          <span [ngClass]="{'nav-required': validateTabs('general') }">
            General Information
          </span>
        </a>
      </li>
    </ul>

    <!-- page section -->
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="home-tab">
        <app-general-form [formGroup]="formGroup" [page]="page"></app-general-form>
      </div>
    </div>
  </ng-container>
  <ng-template #editPage>
    <!-- type Save Draft not suggess -->
    <!-- <ng-container *ngIf="!SuggestStatusMain">

  </ng-container> -->
    <ng-container *ngIf="SuggestStatusMain && !isITDigitalBudgetSurvey; else noneSuggestStatusMain">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#general" role="tab" aria-controls="home"
            aria-selected="true">
            <span [ngClass]="{'nav-required': validateTabs('general') }">
              General Information(dup)
            </span>
          </a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="home-tab">
          <app-general-form [formGroup]="formGroup" [id]="GetId()" [page]="page"></app-general-form>
        </div>
      </div>
    </ng-container>
    <ng-template #noneSuggestStatusMain>


      <!-- type Cim and Strategy -->
      <ng-container *ngIf="isCimAndStrategy">
        <!-- tab section -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link {{activeGeneralTabs.link}}" id="home-tab" data-toggle="tab" href="#general" role="tab"
              aria-controls="home" aria-selected="true">
              <span [ngClass]="{'nav-required': validateTabs('general') }">
                General Information
              </span>
            </a>
          </li>
          <li class="nav-item">
            <!-- <li class="nav-item" > -->
            <a class="nav-link {{activeDetailTabs.link}}" id="profile-tab" data-toggle="tab" href="#detail" role="tab"
              aria-controls="profile" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('detailForm') }">
                Detailed Information
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#detail-pim" role="tab"
              aria-controls="detail-dim" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('detailPimForm') }">
                E-MOC
              </span>
            </a>
          </li>
          <!-- <li class="nav-item" *ngIf="isRequestProjectEngineer">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#detail-pim" role="tab"
            aria-controls="detail-dim" aria-selected="false">
            <span [ngClass]="{'nav-required': validateTabs('detailPimForm') }">
              Detailed Information (PIM)
            </span>
          </a>
        </li> -->
          <li class="nav-item" *ngIf="Showtabs.riskTabStatus && Showtabs.riskTabStatus > 0">
            <!-- <li class="nav-item" > -->
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#risk" role="tab" aria-controls="profile"
              aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('risk') }">
                Risk
              </span>
            </a>
          </li>
          <li class="nav-item" *ngIf="Showtabs.resourceTabStatus && Showtabs.resourceTabStatus > 0">
            <!-- <li class="nav-item" *ngIf="page == 'edit'  && showTabByCondition('resource-need')"> -->
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#resourceNeeded" role="tab"
              aria-controls="profile" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('resourceNeededForm') }">
                Resource Needed
              </span>
            </a>
          </li>
          <li class="nav-item" *ngIf="ShowTabCapex">
            <!-- <li class="nav-item" *ngIf="page == 'edit'  && ShowTabCapex"> -->
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#request-capex" role="tab"
              aria-controls="request-capex" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('capexInformationForm') }">
                CAPEX Information
              </span>
            </a>
          </li>
          <!--Progress-Tab-->
          <li class="nav-item" *ngIf="ShowTabCapex || (Showtabs.progressTabStatus && Showtabs.progressTabStatus > 0)">
            <!-- <li class="nav-item" *ngIf="page == 'edit' && showTabByCondition('progress')"> -->
            <a class="nav-link {{activeProgressTabs.link}}" id="profile-tab" data-toggle="tab" href="#progress"
              role="tab" aria-controls="request-capex" aria-selected="false">
              <span
                [ngClass]="{'nav-required': validateTabs('progressForm') || validateTabs('bscNarrativeForm') || validateTabs('poc1') || validateTabs('poc2') }">
                Progress
              </span>
            </a>
          </li>
          <li class="nav-item" *ngIf="!isCim || (Showtabs.lessonLearnTabStatus && Showtabs.lessonLearnTabStatus > 0)">
            <!-- <li class="nav-item" *ngIf="page == 'edit' && showTabByCondition('lesson-learn')"> -->
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#lesson-learn" role="tab"
              aria-controls="request-capex" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('lessonLearnForm') }">
                Lesson Learn
              </span>
            </a>
          </li>
          <li class="nav-item" *ngIf="isCim && Showtabs.lookbackTabStatus && Showtabs.lookbackTabStatus > 0">
            <!-- <li class="nav-item" *ngIf="page == 'edit' && isCim && isLookBack"> -->
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#Lookback" role="tab" aria-controls="profile"
              aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('lookbackForm') }">
                Lookback
              </span>
            </a>
          </li>
          <li class="nav-item" *ngIf="Showtabs.bestPracticeTabStatus && Showtabs.bestPracticeTabStatus > 0">
            <!-- <li class="nav-item" *ngIf="page == 'edit' && showTabByCondition('best-practice')"> -->
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#best-practice" role="tab"
              aria-controls="best-practice" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('bestPracticeForm') }">
                Best Practice
              </span>
            </a>
          </li>



          <li class="nav-item">
            <!-- <li class="nav-item" > -->
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#status" role="tab" aria-controls="status"
              aria-selected="false">
              <span>
                Status
              </span>
            </a>
          </li>
          <li class="nav-item" *ngIf="approveAdmin" [ngClass]="{'ml-auto': Impact != true}">
            <!-- <li class="nav-item" *ngIf="page == 'edit' && approveAdmin" [ngClass]="{'ml-auto': Impact != true}"> -->
            <a class="nav-link" (click)="ShowViewLogHistory()" style="color: #0078B8;cursor: pointer;">
              View Log History
            </a>
          </li>



        </ul>

        <!-- page section -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade {{activeGeneralTabs.tabs}}" id="general" role="tabpanel" aria-labelledby="home-tab">
            <app-general-form [formGroup]="formGroup" [id]="GetId()" [page]="page" (Suggestion)="isSuggestion($event)"
              (sendCostEst)="receiveCostEst($event)">
            </app-general-form>
          </div>

          <div class="tab-pane fade {{activeDetailTabs.tabs}}" id="detail" role="tabpanel"
            aria-labelledby="profile-tab">
            <app-detail-form [formGroup]="formGroup" [id]="GetId()" [generalData]="generalData"></app-detail-form>
          </div>
          <div class="tab-pane fade" id="detail-pim" role="tabpanel" aria-labelledby="detail-pim-tab">
            <app-detail-pim-form [formGroup]="formGroup" [id]="GetId()"></app-detail-pim-form>
          </div>

          <!-- <div class="tab-pane fade" id="detail-pim" role="tabpanel" aria-labelledby="detail-pim-tab"
          *ngIf="page == 'edit' && isRequestProjectEngineer">
          <app-detail-pim-form [formGroup]="formGroup" [id]="GetId()"></app-detail-pim-form>
        </div> -->


          <div class="tab-pane fade" id="risk" role="tabpanel" aria-labelledby="profile-tab"
            *ngIf="Showtabs.riskTabStatus && Showtabs.riskTabStatus > 0">
            <app-risk [formGroup]="formGroup"></app-risk>
          </div>

          <div class="tab-pane fade" id="resourceNeeded" role="tabpanel" aria-labelledby="profile-tab"
            *ngIf="Showtabs.resourceTabStatus && Showtabs.resourceTabStatus > 0">
            <app-resource-need-form [formGroup]="formGroup" [id]="GetId()"></app-resource-need-form>
          </div>

          <div class="tab-pane fade" id="request-capex" role="tabpanel" aria-labelledby="request-capex-tab"
            *ngIf="ShowTabCapex">
            <app-capex-information-form [formGroup]="formGroup" [id]="GetId()" [generalData]="generalData"
              [costEstFromGeneral]="costEst">
            </app-capex-information-form>
          </div>

          <!--Progress-Body-->
          <div class="tab-pane fade {{activeProgressTabs.tabs}}" id="progress" role="tabpanel"
            aria-labelledby="progress-tab"
            *ngIf="ShowTabCapex || (Showtabs.progressTabStatus && Showtabs.progressTabStatus > 0)">
            <app-progress-form [formGroup]="formGroup" [id]="GetId()">
            </app-progress-form>
          </div>

          <div class="tab-pane fade" id="lesson-learn" role="tabpanel" aria-labelledby="lesson-learn-tab"
            *ngIf="!isCim || (Showtabs.lessonLearnTabStatus && Showtabs.lessonLearnTabStatus > 0)">
            <app-lesson-learn [formGroup]="formGroup"></app-lesson-learn>
          </div>

          <div class="tab-pane fade" id="Lookback" role="tabpanel" aria-labelledby="profile-tab"
            *ngIf="isCim && Showtabs.lookbackTabStatus && Showtabs.lookbackTabStatus > 0">
            <app-lookback-form [formGroup]="formGroup"></app-lookback-form>
          </div>

          <div class="tab-pane fade" id="best-practice" role="tabpanel" aria-labelledby="best-practice-tab"
            *ngIf="Showtabs.bestPracticeTabStatus && Showtabs.bestPracticeTabStatus > 0">
            <app-best-practice-form [formGroup]="formGroup" [generalData]="generalData"></app-best-practice-form>
          </div>



          <div class="tab-pane fade" id="status" role="tabpanel" aria-labelledby="status-tab">
            <app-status-form [id]="GetId()"></app-status-form>
          </div>
        </div>
      </ng-container>
      <!-- end type Cim and Strategy -->



      <!-- type MAX -->
      <ng-container *ngIf="isMax && !isDim">
        <!-- tab section -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link {{activeGeneralTabs.link}}" id="home-tab" data-toggle="tab" href="#general" role="tab"
              aria-controls="general" aria-selected="true">
              <span [ngClass]="{'nav-required': validateTabs('general') }">
                General Information
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{activeDetailTabs.link}}" id="profile-tab" data-toggle="tab" href="#detail" role="tab"
              aria-controls="detail" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('detailMaxForm') }">
                Detailed Information
              </span>
            </a>
          </li>


          <!-- Ta 2021-8-30 -->
          <!-- <li class="nav-item" *ngIf="isMaxPimGate || isRequestProjectEngineer">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#detail-pim" role="tab"
              aria-controls="detail-dim" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('detailPimForm') }">
                <ng-container *ngIf="!isMaxPimGate && isRequestProjectEngineer; else isDetailPim">
                  E-MOC
                </ng-container>
                <ng-template #isDetailPim>
                  Detailed Information (PIM)
                </ng-template>
              </span>
            </a>
          </li> -->

          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#detail-pim" role="tab"
              aria-controls="detail-dim" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('detailPimForm') }">
                E-MOC
              </span>
            </a>
          </li>
          <!-- Ta 2021-8-30 -->

          <li class="nav-item" *ngIf="ShowTabCapex">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#request-capex" role="tab"
              aria-controls="request-capex" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('capexInformationForm') }">
                CAPEX Information
              </span>
            </a>
          </li>
          <li class="nav-item" *ngIf="approveAdmin || (Showtabs.progressTabStatus && Showtabs.progressTabStatus > 0)">
            <a class="nav-link {{activeProgressTabs.link}}" id="profile-tab" data-toggle="tab" href="#progress"
              role="tab" aria-controls="progress" aria-selected="false">
              <span
                [ngClass]="{'nav-required': validateTabs('progressForm') || validateTabs('bscNarrativeForm') || validateTabs('poc1') || validateTabs('poc2') }">
                Progress
              </span>
            </a>
          </li>
          <!-- max approve -->
          <li class="nav-item" *ngIf="approveAdmin || (Showtabs.impactTabStatus && Showtabs.impactTabStatus > 0)">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#impact-tracking" role="tab"
              aria-controls="impact-tracking" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('ImpactForm') }">
                Impact Tracking
              </span>
            </a>
          </li>

          <li class="nav-item" *ngIf="Showtabs.lessonLearnTabStatus && Showtabs.lessonLearnTabStatus > 0">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#lesson-learn" role="tab"
              aria-controls="request-capex" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('lessonLearnForm') }">
                Lesson Learn
              </span>
            </a>
          </li>

          <li class="nav-item"
            *ngIf="stageIL5 || (Showtabs.bestPracticeTabStatus && Showtabs.bestPracticeTabStatus > 0)">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#best-practice" role="tab"
              aria-controls="best-practice" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('bestPracticeForm') }">
                Best Practice
              </span>
            </a>
          </li>

          <li class="nav-item" *ngIf="approveAdmin || isDim">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#status" role="tab" aria-controls="status"
              aria-selected="false">
              <span>
                Status
              </span>
            </a>
          </li>
          <!-- contract IO and view-history  -->
          <!-- pull right nav -->
          <li class="nav-item ml-auto" *ngIf="approveAdmin && Impact">
            <!-- <a class="nav-link" (click)="ShowContactIO()" style="color: #0078B8;cursor: pointer;">Contact IO</a> -->
            <a class="nav-link" (click)="ShowContactIO()" style="color: #0078B8;cursor: pointer;">Contact IO</a>
          </li>
          <li class="nav-item" *ngIf="approveAdmin" [ngClass]="{'ml-auto': Impact != true}">
            <a class="nav-link" (click)="ShowViewLogHistory()" style="color: #0078B8;cursor: pointer;">
              View Log History
            </a>
          </li>
        </ul>

        <!-- page section -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade {{activeGeneralTabs.tabs}}" id="general" role="tabpanel"
            aria-labelledby="general-tab">
            <app-general-form [formGroup]="formGroup" [id]="GetId()" [page]="page"></app-general-form>
          </div>
          <div class="tab-pane fade {{activeDetailTabs.tabs}}" id="detail" role="tabpanel" aria-labelledby="detail-tab">
            <app-detail-max-form [formGroup]="formGroup" [id]="GetId()"></app-detail-max-form>
          </div>
          <!-- Ta 2021-8-30 -->
          <!-- <div class="tab-pane fade" id="detail-pim" role="tabpanel" aria-labelledby="detail-pim-tab"
            *ngIf="isMaxPimGate">
            <app-detail-pim-form [formGroup]="formGroup" [id]="GetId()"></app-detail-pim-form>
          </div> -->
          <div class="tab-pane fade" id="detail-pim" role="tabpanel" aria-labelledby="detail-pim-tab">
            <app-detail-pim-form [formGroup]="formGroup" [id]="GetId()"></app-detail-pim-form>
          </div>
          <!-- Ta 2021-8-30 -->
          <div class="tab-pane fade" id="request-capex" role="tabpanel" aria-labelledby="request-capex-tab"
            *ngIf="ShowTabCapex">
            <app-capex-information-form [formGroup]="formGroup" [id]="GetId()" [page]="page"
              [generalData]="generalData">
            </app-capex-information-form>
          </div>
          <div class="tab-pane fade {{activeProgressTabs.tabs}}" id="progress" role="tabpanel"
            aria-labelledby="progress-tab"
            *ngIf="approveAdmin || (Showtabs.progressTabStatus && Showtabs.progressTabStatus > 0)">
            <app-progress-form [formGroup]="formGroup" [id]="GetId()"></app-progress-form>
          </div>
          <!-- approve max -->
          <div class="tab-pane fade" id="impact-tracking" role="tabpanel" aria-labelledby="impact-tracking-tab"
            *ngIf="approveAdmin || (Showtabs.impactTabStatus && Showtabs.impactTabStatus > 0)">
            <app-impact-form [formGroup]="formGroup" [id]="GetId()"></app-impact-form>
          </div>

          <div *ngIf="Showtabs.lessonLearnTabStatus && Showtabs.lessonLearnTabStatus > 0" class="tab-pane fade"
            id="lesson-learn" role="tabpanel" aria-labelledby="lesson-learn-tab">
            <app-lesson-learn [formGroup]="formGroup"></app-lesson-learn>
          </div>

          <div class="tab-pane fade" id="best-practice" role="tabpanel" aria-labelledby="best-practice-tab"
            *ngIf="stageIL5 || (Showtabs.bestPracticeTabStatus && Showtabs.bestPracticeTabStatus > 0)">
            <app-best-practice-form [formGroup]="formGroup" [generalData]="generalData"></app-best-practice-form>
          </div>

          <div class="tab-pane fade" id="status" role="tabpanel" aria-labelledby="status-tab" *ngIf="approveAdmin">
            <app-status-form [id]="GetId()"></app-status-form>
          </div>
        </div>
      </ng-container>
      <!-- end type MAX -->

      <!-- type CPI -->
      <ng-container *ngIf="isCpi">
        <!-- tab section -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link {{activeGeneralTabs.link}}" id="home-tab" data-toggle="tab" href="#general" role="tab"
              aria-controls="general" aria-selected="true">
              <span [ngClass]="{'nav-required': validateTabs('general') }">
                General Information
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{activeDetailTabs.link}}" id="profile-tab" data-toggle="tab" href="#detail-cpi"
              role="tab" aria-controls="detail-cpi" aria-selected="false">
              <!-- <span [ngClass]="{'nav-required': validateTabs('detailCpi') }"> -->
              <span>
                Detailed Information
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#detail-pim" role="tab"
              aria-controls="detail-dim" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('detailPimForm') }">
                E-MOC
              </span>
            </a>
          </li>
          <!-- <li class="nav-item" *ngIf="page == 'edit' && approveAdmin">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#progress" role="tab" aria-controls="progress"
            aria-selected="false">
            <span [ngClass]="{'nav-required': validateTabs('progressForm') || validateTabs('bscNarrativeForm') }">
              Progress
            </span>
          </a>
        </li> -->
          <li class="nav-item" *ngIf="Showtabs.lessonLearnTabStatus && Showtabs.lessonLearnTabStatus > 0">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#lesson-learn" role="tab"
              aria-controls="request-capex" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('lessonLearnForm') }">
                Lesson Learn
              </span>
            </a>
          </li>
          <!-- max approve -->
          <li class="nav-item" *ngIf="Showtabs.bestPracticeTabStatus && Showtabs.bestPracticeTabStatus > 0">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#best-practice" role="tab"
              aria-controls="best-practice" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('bestPracticeForm') }">
                Best Practice
              </span>
            </a>
          </li>

          <li class="nav-item" *ngIf="approveAdmin">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#status" role="tab" aria-controls="status"
              aria-selected="false">
              <span>Status</span>
            </a>
          </li>
          <!-- contract IO and view-history  -->
          <!-- pull right nav -->
          <li class="nav-item" *ngIf="approveAdmin" [ngClass]="{'ml-auto': Impact != true}">
            <a class="nav-link" (click)="ShowViewLogHistory()" style="color: #0078B8;cursor: pointer;">
              View Log History
            </a>
          </li>
        </ul>

        <!-- page section -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade {{activeGeneralTabs.tabs}}" id="general" role="tabpanel"
            aria-labelledby="general-tab">
            <app-general-form [formGroup]="formGroup" [id]="GetId()" [page]="page"></app-general-form>
          </div>
          <div class="tab-pane fade {{activeDetailTabs.tabs}}" id="detail-cpi" role="tabpanel"
            aria-labelledby="detail-cpi-tab">
            <app-detail-cpi-form [formGroup]="formGroup"></app-detail-cpi-form>
          </div>
          <div class="tab-pane fade" id="detail-pim" role="tabpanel" aria-labelledby="detail-pim-tab">
            <app-detail-pim-form [formGroup]="formGroup" [id]="GetId()"></app-detail-pim-form>
          </div>
          <!-- <div class="tab-pane fade" id="progress" role="tabpanel" aria-labelledby="progress-tab"
          *ngIf="page == 'edit' && approveAdmin">
          <app-progress-form [formGroup]="formGroup" [id]="GetId()">
          </app-progress-form>
        </div> -->
          <div *ngIf="Showtabs.lessonLearnTabStatus && Showtabs.lessonLearnTabStatus > 0" class="tab-pane fade"
            id="lesson-learn" role="tabpanel" aria-labelledby="lesson-learn-tab">
            <app-lesson-learn [formGroup]="formGroup"></app-lesson-learn>
          </div>
          <!-- approve max -->
          <div *ngIf="Showtabs.bestPracticeTabStatus && Showtabs.bestPracticeTabStatus > 0" class="tab-pane fade"
            id="best-practice" role="tabpanel" aria-labelledby="best-practice-tab">
            <app-best-practice-form [formGroup]="formGroup" [generalData]="generalData"></app-best-practice-form>
          </div>

          <div class="tab-pane fade" id="status" role="tabpanel" aria-labelledby="status-tab" *ngIf="approveAdmin">
            <app-status-form [id]="GetId()"></app-status-form>
          </div>
        </div>
      </ng-container>
      <!-- end type CPI -->

      <!-- type CAPE-->
      <ng-container *ngIf="isCapex">
        <!-- tab section -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link {{activeGeneralTabs.link}}" id="home-tab" data-toggle="tab" href="#general" role="tab"
              aria-controls="home" aria-selected="true">
              <span [ngClass]="{'nav-required': validateTabs('general') }">
                General Information
              </span>
            </a>
          </li>
          <li *ngIf="showTabEMOC" class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#detail-pim" role="tab"
              aria-controls="detail-dim" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('detailPimForm') }">
                E-MOC
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{activeDetailTabs.link}}" id="profile-tab" data-toggle="tab" href="#detail" role="tab"
              aria-controls="profile" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('detailMaxForm') }">
                Detailed Information (Request CAPEX)
              </span>
            </a>
          </li>
          <li class="nav-item" *ngIf="ShowTabCapex">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#request-capex" role="tab"
              aria-controls="request-capex" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('capexInformationForm') }">
                CAPEX Information
              </span>
            </a>
          </li>
          <li class="nav-item" *ngIf="ShowTabCapex">
            <a class="nav-link {{activeProgressTabs.link}}" id="profile-tab" data-toggle="tab" href="#progress"
              role="tab" aria-controls="best-practice" aria-selected="false">
              <span
                [ngClass]="{'nav-required': validateTabs('progressForm') || validateTabs('bscNarrativeForm') || validateTabs('poc1') || validateTabs('poc2') }">
                Progress
              </span>
            </a>
          </li>

          <li class="nav-item" *ngIf="Showtabs.lessonLearnTabStatus && Showtabs.lessonLearnTabStatus > 0">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#lesson-learn" role="tab"
              aria-controls="request-capex" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('lessonLearnForm') }">
                Lesson Learn
              </span>
            </a>
          </li>
          <li class="nav-item" *ngIf="Showtabs.bestPracticeTabStatus && Showtabs.bestPracticeTabStatus > 0">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#best-practice" role="tab"
              aria-controls="best-practice" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('bestPracticeForm') }">
                Best Practice
              </span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#status" role="tab" aria-controls="status"
              aria-selected="false">
              <span>
                Status
              </span>
            </a>
          </li>
          <li class="nav-item" *ngIf="approveAdmin" [ngClass]="{'ml-auto': Impact != true}">
            <a class="nav-link" (click)="ShowViewLogHistory()" style="color: #0078B8;cursor: pointer;">
              View Log History
            </a>
          </li>
        </ul>

        <!-- page section -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade {{activeGeneralTabs.tabs}}" id="general" role="tabpanel" aria-labelledby="home-tab">
            <app-general-form [formGroup]="formGroup" [id]="GetId()" [page]="page"></app-general-form>
          </div>
          <div *ngIf="showTabEMOC" class="tab-pane fade" id="detail-pim" role="tabpanel"
            aria-labelledby="detail-pim-tab">
            <app-detail-pim-form [formGroup]="formGroup" [id]="GetId()"></app-detail-pim-form>
          </div>
          <div class="tab-pane fade {{activeDetailTabs.tabs}}" id="detail" role="tabpanel" aria-labelledby="detail-tab">
            <app-detail-max-form [formGroup]="formGroup" [id]="GetId()"></app-detail-max-form>
          </div>
          <div class="tab-pane fade" id="request-capex" role="tabpanel" aria-labelledby="request-capex-tab"
            *ngIf="ShowTabCapex">
            <app-capex-information-form [formGroup]="formGroup" [id]="GetId()" [page]="page"
              [generalData]="generalData">
            </app-capex-information-form>
          </div>
          <div class="tab-pane fade {{activeProgressTabs.tabs}}" id="progress" role="tabpanel"
            aria-labelledby="progress-tab" *ngIf="ShowTabCapex">
            <app-progress-form [formGroup]="formGroup"></app-progress-form>
          </div>
          <div *ngIf="Showtabs.lessonLearnTabStatus && Showtabs.lessonLearnTabStatus > 0" class="tab-pane fade"
            id="lesson-learn" role="tabpanel" aria-labelledby="lesson-learn-tab">
            <app-lesson-learn [formGroup]="formGroup"></app-lesson-learn>
          </div>
          <div *ngIf="Showtabs.bestPracticeTabStatus && Showtabs.bestPracticeTabStatus > 0" class="tab-pane fade"
            id="best-practice" role="tabpanel" aria-labelledby="best-practice-tab">
            <app-best-practice-form [formGroup]="formGroup" [generalData]="generalData"></app-best-practice-form>
          </div>
          <div class="tab-pane fade" id="status" role="tabpanel" aria-labelledby="status-tab">
            <app-status-form [id]="GetId()"></app-status-form>
          </div>
        </div>
      </ng-container>
      <!-- end type CAPEX -->


      <!-- type DIM -->
      <ng-container *ngIf="isDim">
        <!-- tab section -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link {{activeGeneralTabs.link}}" id="home-tab" data-toggle="tab" href="#general" role="tab"
              aria-controls="general" aria-selected="true">
              <span [ngClass]="{'nav-required': validateTabs('general') }">
                General Information
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#detail-pim" role="tab"
              aria-controls="detail-dim" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('detailPimForm') }">
                E-MOC
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{activeDetailTabs.link}}" id="profile-tab" data-toggle="tab" href="#detail-dim"
              role="tab" aria-controls="detail-dim" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('detailMaxForm') }">
                Detailed Information (DIM)
              </span>
            </a>
          </li>
          <li class="nav-item" *ngIf="ShowTabCapex">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#request-capex" role="tab"
              aria-controls="request-capex" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('capexInformationForm') }">
                CAPEX Information
              </span>
            </a>
          </li>
          <li class="nav-item" *ngIf="ShowTabCapex">
            <a class="nav-link {{activeProgressTabs.link}}" id="profile-tab" data-toggle="tab" href="#progress"
              role="tab" aria-controls="progress" aria-selected="false">
              <span
                [ngClass]="{'nav-required': validateTabs('progressForm') || validateTabs('bscNarrativeForm') || validateTabs('poc1') || validateTabs('poc2') }">
                Progress
              </span>
            </a>
          </li>
          <li class="nav-item"
            *ngIf="typeBenefit !== 'NON-FINANCIAL' || (Showtabs.impactTabStatus && Showtabs.impactTabStatus > 0)">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#impact-tracking" role="tab"
              aria-controls="impact-tracking" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('ImpactForm') }">
                Impact Tracking
              </span>
            </a>
          </li>

          <li class="nav-item"
            *ngIf="isLookBack || (Showtabs.lessonLearnTabStatus && Showtabs.lessonLearnTabStatus > 0)">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#lesson-learn" role="tab"
              aria-controls="request-capex" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('lessonLearnForm') }">
                Lesson Learn
              </span>
            </a>
          </li>
          <li class="nav-item"
            *ngIf="stageAdopt  || (Showtabs.bestPracticeTabStatus && Showtabs.bestPracticeTabStatus > 0)">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#best-practice" role="tab"
              aria-controls="best-practice" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('bestPracticeForm') }">
                Best Practice
              </span>
            </a>
          </li>
          <li class="nav-item"
            *ngIf="isDimLookBack  || (Showtabs.lessonLearnTabStatus && Showtabs.lessonLearnTabStatus > 0)">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#Lookback" role="tab" aria-controls="profile"
              aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('lookbackForm') }">
                Lookback
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#status" role="tab" aria-controls="status"
              aria-selected="false">
              <span>Status</span>
            </a>
          </li>
          <li class="nav-item" *ngIf="approveAdmin" [ngClass]="{'ml-auto': Impact != true}">
            <a class="nav-link" (click)="ShowViewLogHistory()" style="color: #0078B8;cursor: pointer;">
              View Log History
            </a>
          </li>
        </ul>


        <!-- page section -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade {{activeGeneralTabs.tabs}}" id="general" role="tabpanel"
            aria-labelledby="general-tab">
            <app-general-form [formGroup]="formGroup" [id]="GetId()" [page]="page"></app-general-form>
          </div>
          <div class="tab-pane fade" id="detail-pim" role="tabpanel" aria-labelledby="detail-pim-tab">
            <app-detail-pim-form [formGroup]="formGroup" [id]="GetId()"></app-detail-pim-form>
          </div>
          <div class="tab-pane fade {{activeDetailTabs.tabs}}" id="detail-dim" role="tabpanel"
            aria-labelledby="detail-dim-tab">
            <app-detail-max-form [formGroup]="formGroup" [id]="GetId()"></app-detail-max-form>
          </div>
          <div class="tab-pane fade" id="request-capex" role="tabpanel" aria-labelledby="request-capex-tab"
            *ngIf="ShowTabCapex">
            <app-capex-information-form [formGroup]="formGroup" [id]="GetId()" [page]="page"
              [generalData]="generalData">
            </app-capex-information-form>
          </div>
          <div class="tab-pane fade {{activeProgressTabs.tabs}}" id="progress" role="tabpanel"
            aria-labelledby="progress-tab" *ngIf="ShowTabCapex">
            <app-progress-form [formGroup]="formGroup" [id]="GetId()">
            </app-progress-form>
          </div>
          <div class="tab-pane fade" id="impact-tracking" role="tabpanel" aria-labelledby="impact-tracking-tab"
            *ngIf="typeBenefit !== 'NON-FINANCIAL'  || (Showtabs.impactTabStatus && Showtabs.impactTabStatus > 0)">
            <!-- Impact-form -->
            <app-impact-form [formGroup]="formGroup" [id]="GetId()"></app-impact-form>
          </div>
          <div class="tab-pane fade" id="lesson-learn" role="tabpanel" aria-labelledby="lesson-learn-tab"
            *ngIf="isLookBack || (Showtabs.lessonLearnTabStatus && Showtabs.lessonLearnTabStatus > 0)">
            <app-lesson-learn [formGroup]="formGroup"></app-lesson-learn>
          </div>
          <div class="tab-pane fade" id="best-practice" role="tabpanel" aria-labelledby="best-practice-tab"
            *ngIf="stageAdopt  || (Showtabs.bestPracticeTabStatus && Showtabs.bestPracticeTabStatus > 0)">
            <app-best-practice-form [formGroup]="formGroup" [generalData]="generalData"></app-best-practice-form>
          </div>
          <div class="tab-pane fade" id="Lookback" role="tabpanel" aria-labelledby="profile-tab"
            *ngIf="isDimLookBack  || (Showtabs.lessonLearnTabStatus && Showtabs.lessonLearnTabStatus > 0)">
            <app-lookback-form [formGroup]="formGroup"></app-lookback-form>
          </div>
          <div class="tab-pane fade" id="status" role="tabpanel" aria-labelledby="status-tab">
            <app-status-form [id]="GetId()"></app-status-form>
          </div>
        </div>
      </ng-container>
      <!-- end type DIM -->


      <!-- type PIM -->
      <ng-container *ngIf="isPim">
        <!-- tab section -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link {{activeGeneralTabs.link}}" id="home-tab" data-toggle="tab" href="#general" role="tab"
              aria-controls="general" aria-selected="true">
              <span [ngClass]="{'nav-required': validateTabs('general') }">
                General Information
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{activeDetailTabs.link}}" id="profile-tab" data-toggle="tab" href="#detail-pim"
              role="tab" aria-controls="detail-dim" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('detailPimForm') }">
                Detailed Information (PIM)
              </span>
            </a>
          </li>
          <li class="nav-item" *ngIf="ShowTabCapex">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#detail-capex" role="tab"
              aria-controls="detail" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('detailMaxForm') }">
                Detailed Information (CAPEX)
              </span>
            </a>
          </li>
          <li class="nav-item" *ngIf="ShowTabCapex">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#capex-pim" role="tab"
              aria-controls="detail-dim" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('capexInformationForm') }">
                CAPEX Information
              </span>
            </a>
          </li>
          <li class="nav-item" *ngIf="ShowTabCapex || (Showtabs.progressTabStatus && Showtabs.progressTabStatus > 0)">
            <a class="nav-link {{activeProgressTabs.link}}" id="profile-tab" data-toggle="tab" href="#progress-pim"
              role="tab" aria-controls="detail-dim" aria-selected="false">
              <span
                [ngClass]="{'nav-required': validateTabs('progressForm') || validateTabs('bscNarrativeForm') || validateTabs('poc1') || validateTabs('poc2') }">
                Progress
              </span>
            </a>
          </li>
          <li class="nav-item" *ngIf="Showtabs.riskTabStatus && Showtabs.riskTabStatus > 0">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#risk" role="tab" aria-controls="profile"
              aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('risk') }">
                Risk
              </span>
            </a>
          </li>
          <li class="nav-item" *ngIf="Showtabs.resourceTabStatus && Showtabs.resourceTabStatus > 0">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#resourceNeeded" role="tab"
              aria-controls="profile" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('resourceNeededForm') }">
                Resource Needed
              </span>
            </a>
          </li>
          <li class="nav-item" *ngIf="Showtabs.lessonLearnTabStatus && Showtabs.lessonLearnTabStatus > 0">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#lesson-learn" role="tab"
              aria-controls="request-capex" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('lessonLearnForm') }">
                Lesson Learn
              </span>
            </a>
          </li>
          <li class="nav-item" *ngIf="Showtabs.bestPracticeTabStatus && Showtabs.bestPracticeTabStatus > 0">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#best-practice" role="tab"
              aria-controls="best-practice" aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('bestPracticeForm') }">
                Best Practice
              </span>
            </a>
          </li>
          <li class="nav-item" *ngIf="Showtabs.lookbackTabStatus && Showtabs.lookbackTabStatus > 0">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#Lookback" role="tab" aria-controls="profile"
              aria-selected="false">
              <span [ngClass]="{'nav-required': validateTabs('lookbackForm') }">
                Lookback
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#status" role="tab" aria-controls="status"
              aria-selected="false">
              <span>Status</span>
            </a>
          </li>
          <li class="nav-item" *ngIf="approveAdmin" [ngClass]="{'ml-auto': Impact != true}">
            <a class="nav-link" (click)="ShowViewLogHistory()" style="color: #0078B8;cursor: pointer;">
              View Log History
            </a>
          </li>
        </ul>

        <!-- page section -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade {{activeGeneralTabs.tabs}}" id="general" role="tabpanel"
            aria-labelledby="general-tab">
            <app-general-form [formGroup]="formGroup" [id]="GetId()" [page]="page"></app-general-form>
          </div>
          <div class="tab-pane fade {{activeDetailTabs.tabs}}" id="detail-pim" role="tabpanel"
            aria-labelledby="detail-pim-tab">
            <app-detail-pim-form [formGroup]="formGroup" [id]="GetId()"></app-detail-pim-form>
          </div>
          <div class="tab-pane fade" id="detail-capex" role="tabpanel" aria-labelledby="detail-tab"
            *ngIf="ShowTabCapex">
            <app-detail-max-form [formGroup]="formGroup" [id]="GetId()"></app-detail-max-form>
          </div>
          <div class="tab-pane fade" id="capex-pim" role="tabpanel" aria-labelledby="capex-pim-tab"
            *ngIf="ShowTabCapex">
            <app-capex-information-form [formGroup]="formGroup" [id]="GetId()" [page]="page"
              [generalData]="generalData">
            </app-capex-information-form>
          </div>
          <div class="tab-pane fade {{activeProgressTabs.tabs}}" id="progress-pim" role="tabpanel"
            aria-labelledby="progress-pim-tab"
            *ngIf="ShowTabCapex || (Showtabs.progressTabStatus && Showtabs.progressTabStatus > 0)">
            <app-progress-form [formGroup]="formGroup" [id]="GetId()">
            </app-progress-form>
          </div>
          <div *ngIf="Showtabs.riskTabStatus && Showtabs.riskTabStatus > 0" class="tab-pane fade" id="risk"
            role="tabpanel" aria-labelledby="profile-tab">
            <app-risk [formGroup]="formGroup"></app-risk>
          </div>

          <div class="tab-pane fade" id="resourceNeeded" role="tabpanel" aria-labelledby="profile-tab"
            *ngIf="Showtabs.resourceTabStatus && Showtabs.resourceTabStatus > 0">
            <app-resource-need-form [formGroup]="formGroup" [id]="GetId()"></app-resource-need-form>
          </div>
          <div class="tab-pane fade" id="lesson-learn" role="tabpanel" aria-labelledby="lesson-learn-tab"
            *ngIf="Showtabs.lessonLearnTabStatus && Showtabs.lessonLearnTabStatus > 0">
            <app-lesson-learn [formGroup]="formGroup"></app-lesson-learn>
          </div>

          <div class="tab-pane fade" id="best-practice" role="tabpanel" aria-labelledby="best-practice-tab"
            *ngIf="Showtabs.bestPracticeTabStatus && Showtabs.bestPracticeTabStatus > 0">
            <app-best-practice-form [formGroup]="formGroup" [generalData]="generalData"></app-best-practice-form>
          </div>
          <div class="tab-pane fade" id="Lookback" role="tabpanel" aria-labelledby="profile-tab"
            *ngIf="Showtabs.lookbackTabStatus && Showtabs.lookbackTabStatus > 0">
            <app-lookback-form [formGroup]="formGroup"></app-lookback-form>
          </div>
          <div class="tab-pane fade" id="status" role="tabpanel" aria-labelledby="status-tab">
            <app-status-form [id]="GetId()"></app-status-form>
          </div>
        </div>
      </ng-container>
      <!-- end type PIM -->

      <!-- type Digital -->
      <ng-container *ngIf="isITDigitalBudgetSurvey">
        <!-- tab section -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#general" role="tab"
              aria-controls="general" aria-selected="true">
              <span>
                IT & digital Budget Survey
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#status" role="tab" aria-controls="status"
              aria-selected="false">
              <span>Status</span>
            </a>
          </li>
          <li class="nav-item" *ngIf="approveAdmin" [ngClass]="{'ml-auto': Impact != true}">
            <a class="nav-link" (click)="ShowViewLogHistory()" style="color: #0078B8;cursor: pointer;">
              View Log History
            </a>
          </li>
        </ul>

        <!-- page section -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
            <app-digital-and-it-form [formGroup]="formGroup" [id]="GetId()"></app-digital-and-it-form>
          </div>
          <div class="tab-pane fade" id="status" role="tabpanel" aria-labelledby="status-tab">
            <app-status-form [id]="GetId()"></app-status-form>
          </div>
        </div>
      </ng-container>
      <!-- end type Digital -->
    </ng-template>
  </ng-template>
</ng-template>




<!-- button section -->
<hr>
<div class="container top">
  <ng-container *ngIf="page != 'overview-approve' && page != 'approve' && page != 'approveEdit'; else onApprovePage">
    <ng-container *ngIf="CheckSubmitTo && checkMaxStage">
      <div [formGroup]="submitToForm">
        <div class="form-group row my-3" *ngIf="selectForword && neatStageTobe?.length > 0">
          <div class="col-md-12">
            <label for="nextStage">Next Stage : {{neatStageTobe?.length > 0 ? neatStageTobe[0] : null}}</label>
            <br *ngIf="neatStageTobe?.length == 2">
            <label class="next-stage-desc" for="nextStage"
              *ngIf="neatStageTobe?.length == 2">{{neatStageTobe[1]}}</label>
          </div>
        </div>
        <div class="form-group row my-3">
          <div class="col-md-4">
            <label for="submitToItems"> Submit to </label>
            <select formControlName="status" class="form-control" (change)="OnChangeStatus()">
              <option *ngFor="let item of submitToItems" value="{{item.attribute01}}">
                {{item.attribute02}}
              </option>
            </select>
          </div>
        </div>
        <ng-container *ngIf="Comment">
          <div class="form-group row my-3">
            <div class="col-md-12">
              <textarea [ngClass]="{ 'is-invalid': getFormError('commentCancelled') }"
                formControlName="commentCancelled" rows="3" class="form-control comment"></textarea>
              <div class="invalid-feedback">
                Comment is required !
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <!-- <ng-template
      [ngIf]="aliasOwner?.length > 0 && CheckPermissionSubmit(permissionServiceStaticVar.ONBEHAFTOFSUBMIT_PAGE_ID)"> -->
    <ng-template
      [ngIf]="aliasOwner?.length > 0 && mailAccount === 'thammatad.a@frontiscompany.com' && CheckSubmitTo && checkMaxStage">
      <div class="card mb-3 mt-2">
        <div class="card-body">
          <form [formGroup]="submitToForm">
            <div class="form-group">
              <label for="Approve"> <strong>Choose Name</strong> </label>
              <select class="form-control mt-2" formControlName="aliasOwner">
                <option *ngFor="let item of aliasOwner" value="{{ item.actionBy }}"> {{ item.actionBy }} </option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </ng-template>

    <br>
    <div class="row" (keydown.enter)="$event.preventDefault()">
      <div class="col-md-6">
        <ng-container *ngIf="checkMaxStage">
          <ng-container *ngIf="getSuggestion(); else notSuggestStatus">
            <!-- <ng-container *ngIf="page == 'create' || !getSuggestion(); else editPage"> -->
            <button type="button" class="btn btn-primary btn-width" (click)="Submit('next')">
              <span class="far fa-check-circle mr-2"></span> Next
            </button>
            <!-- </ng-container>
          <ng-template #editPage>
            <button type="button" class="btn btn-success btn-width" (click)="Submit()">
              <span class="far fa-check-circle mr-2"></span> Submit
            </button>
          </ng-template> -->
          </ng-container>
          <ng-template #notSuggestStatus>
            <button [disabled]="!isTestLoading" type="button" class="btn btn-success btn-width"
              (click)="Submit('submit')">
              <span class="far fa-check-circle mr-2"></span> Submit
            </button>
          </ng-template>
          <button *ngIf="mailAccount === 'thammatad.a@frontiscompany.com'" type="button"
            class="btn btn-white btn-width ml-2" (click)="LogSubmit()">
            log
          </button>
        </ng-container>
        <button type="button" class="btn btn-white btn-width ml-2" [routerLink]="['/initiative/my-own']">
          <span class="fas fa-ban mr-2"></span> Close
        </button>

        <!-- <br />
      <input type="text" [ngModel]="txtLastTime" style="min-width:300px;border:none;margin-top:10px;color:#E5E5E5"
                readonly />

              <input type="text" [ngModel]="txtLastTime" style="min-width:300px;border:none;margin-top:10px;color:#E5E5E5"
                readonly /> -->

      </div>
      <div class="col-md-6" style="text-align:right">
        <button *ngIf="showRequestCapexButton && !ShowTabCapex" type="button" class="btn btn-white"
          (click)="submitRequestCapex()">
          <span class="far fa-money-bill-alt mr-2"></span> Request CAPEX
        </button>
        <button [disabled]="!isTestLoading" type="button" class="btn btn-info btn-width ml-2" (click)="Draft()">
          <span class="far fa-save mr-2"></span> Save
        </button>
        <button type="button" class="btn btn-white btn-width ml-2" (click)="Duplicate()">
          <span class="far fa-copy  mr-2"></span> Duplicate
        </button>
        <button type="button" class="btn btn-white btn-width ml-2" (click)="Print()">
          <span class="fas fa-print mr-2"></span> Print
        </button>
        <button type="button" class="btn btn-white btn-width ml-2" (click)="ShowAttachment()">
          <span class="fas fa-paperclip mr-2"></span> <span style="font-size: 0.9rem;"> Attachment </span>
        </button>
      </div>
    </div>
  </ng-container>
  <ng-template #onApprovePage>
    <div class="row" (keydown.enter)="$event.preventDefault()">
      <div class="col-md-6">
        <button [disabled]="!isTestLoading" type="button" class="btn btn-white btn-width ml-2" (click)="Draft()">
          <span class="far fa-save mr-2"></span> Save
        </button>
        <!-- <button type="button" class="btn btn-white btn-width ml-2" (click)="Duplicate()"
        *ngIf="page != 'overview-approve' && page != 'approve'">
        <span class="far fa-copy  mr-2"></span> Duplicate
      </button>-->
        <button type="button" class="btn btn-white btn-width ml-2" (click)="Print()"
          *ngIf="page != 'overview-approve' && page != 'approve'">
          <span class="fas fa-print mr-2"></span> Print
        </button>
        <!-- <button type="button" class="btn btn-white btn-width ml-2" (click)="ShowAttachment()"
        *ngIf="page != 'overview-approve' && page != 'approve'">
        <span class="fas fa-paperclip mr-2"></span> <span style="font-size: 0.9rem;"> Attachment </span>
      </button> -->
      </div>
    </div>
  </ng-template>
</div>
