/****** Object:  Table [dbo].[ZZ_TbMstFactor]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZZ_TbMstFactor](
	[FactorId] [nvarchar](3) NOT NULL,
	[FactorName] [nvarchar](50) NULL,
	[FactorOrder] [int] NOT NULL,
 CONSTRAINT [PK__TbMstFac__E733AADD4D9F7493] PRIMARY KEY CLUSTERED 
(
	[FactorId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
