/****** Object:  Table [dbo].[X_TbMstEVP]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[X_TbMstEVP](
	[EVPID] [int] NOT NULL,
	[EVP] [nvarchar](50) NULL
) ON [PRIMARY]
GO
