/****** Object:  Table [dbo].[TempComapreOwnerName]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempComapreOwnerName](
	[OldOwnerName] [nvarchar](255) NULL,
	[NewOwnerName] [nvarchar](255) NULL
) ON [PRIMARY]
GO
