/****** Object:  View [dbo].[v_bi_ViewTbTxnPlanBODNew]    Script Date: 9/3/2021 9:18:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[v_bi_ViewTbTxnPlanBODNew] as 
  
 select * from dbo.X_ViewTbTxnPlanBODNew 

GO
