/****** Object:  Table [dbo].[ZZ_TbMstProjectPhase]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZZ_TbMstProjectPhase](
	[Phase] [nvarchar](20) NOT NULL,
	[PhaseOrder] [int] NOT NULL,
	[MarkDelete] [bit] NOT NULL,
 CONSTRAINT [PK__TbMstPro__5D1E9C2C1A89E4E1] PRIMARY KEY CLUSTERED 
(
	[Phase] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
