/****** Object:  Table [dbo].[ZZ_TbMstGateInfo]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZZ_TbMstGateInfo](
	[GateID] [int] NOT NULL,
	[ProcessTypeID] [int] NOT NULL,
	[VACDateCaption] [nvarchar](50) NULL,
	[VACDate1Caption] [nvarchar](50) NULL,
	[VACDate2Caption] [nvarchar](50) NULL,
	[VACDate3Caption] [nvarchar](50) NULL,
	[VACStatusVisible] [bit] NULL,
	[VACStatusCaption] [nvarchar](50) NULL,
	[VACStatus1Caption] [nvarchar](50) NULL,
	[VACStatus2Caption] [nvarchar](50) NULL,
	[VACStatus3Caption] [nvarchar](50) NULL,
	[VACHistoryVisible] [bit] NULL,
	[VACCLCaption] [nvarchar](50) NULL,
	[VACCLVisible] [bit] NULL,
	[VACDlvCaption] [nvarchar](50) NULL,
	[VACDlvVisible] [bit] NULL,
	[VACDlvStatusCaption] [nvarchar](50) NULL,
	[VACDlvStatusVisible] [bit] NULL,
	[BudgetCaption] [nvarchar](50) NULL,
	[BudgetVisible] [bit] NULL,
	[OPEXBudget1Caption] [nvarchar](50) NULL,
	[OPEXBudget1Visible] [bit] NULL,
	[OPEXBudget2Caption] [nvarchar](50) NULL,
	[OPEXBudget2Visible] [bit] NULL,
	[OPEXBudgetEvidentCaption] [nvarchar](50) NULL,
	[OPEXBudgetEvidentVisible] [bit] NULL,
	[CAPEXBudget1Caption] [nvarchar](50) NULL,
	[CAPEXBudget1Visible] [bit] NULL,
	[CAPEXBudget2Caption] [nvarchar](50) NULL,
	[CAPEXBudget2Visible] [bit] NULL,
	[SpendingCaption] [nvarchar](50) NULL,
	[SpendingVisible] [bit] NULL,
	[TieInBudgetCaption] [nvarchar](50) NULL,
	[TieInBudgetVisible] [bit] NULL,
	[PICDateCaption] [nvarchar](50) NULL,
	[PICDate1Caption] [nvarchar](50) NULL,
	[PICDate2Caption] [nvarchar](50) NULL,
	[PICDate3Caption] [nvarchar](50) NULL,
	[PICStatusVisible] [bit] NULL,
	[PICStatusCaption] [nvarchar](50) NULL,
	[PICStatus1Caption] [nvarchar](50) NULL,
	[PICStatus2Caption] [nvarchar](50) NULL,
	[PICStatus3Caption] [nvarchar](50) NULL,
	[PICHistoryVisible] [bit] NULL,
	[PresentationCaption] [nvarchar](50) NULL,
	[PresentationVisible] [bit] NULL,
	[IERCaption] [nvarchar](50) NULL,
	[IERVisible] [bit] NULL,
	[ProjectCharterCaption] [nvarchar](50) NULL,
	[ProjectCharterVisible] [bit] NULL,
	[MomCaption] [nvarchar](50) NULL,
	[MomVisible] [bit] NULL,
	[NoteCaption] [nvarchar](50) NULL,
	[NoteVisible] [bit] NULL,
	[SimplifyProjectCaption] [nvarchar](50) NULL,
	[SimplifyProjectVisible] [bit] NULL,
 CONSTRAINT [PK_TbMstGateInfo] PRIMARY KEY CLUSTERED 
(
	[GateID] ASC,
	[ProcessTypeID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
