/****** Object:  Table [dbo].[StageActionMaster]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StageActionMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StageMasterId] [int] NOT NULL,
	[ActionType] [nvarchar](max) NULL,
	[ActionBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_StageActionMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
