/****** Object:  Table [dbo].[BUMapping]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUMapping](
	[VCID] [varchar](50) NULL,
	[BU] [varchar](50) NULL,
	[Description] [varchar](255) NULL
) ON [PRIMARY]
GO
