/****** Object:  Table [dbo].[Temp_MAP_INI_APP_WBS]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_MAP_INI_APP_WBS](
	[InitiativeCode] [varchar](1024) NULL,
	[App_Request] [varchar](1024) NULL,
	[WBS] [varchar](1024) NULL
) ON [PRIMARY]
GO
