/****** Object:  Table [dbo].[ZZ_TbMstMocEasyTracking]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZZ_TbMstMocEasyTracking](
	[EasyTrackingID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
