/****** Object:  Table [dbo].[X_TbTxnPlantTRIR]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[X_TbTxnPlantTRIR](
	[PlantID] [int] NULL,
	[ActualManHour] [float] NULL
) ON [PRIMARY]
GO
