/****** Object:  Table [dbo].[X_ViewApprovalBudget]    Script Date: 9/3/2021 9:18:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[X_ViewApprovalBudget](
	[ProjectID] [int] NULL,
	[ProfileID] [int] NULL,
	[ApprovalBudget] [float] NULL
) ON [PRIMARY]
GO
