/****** Object:  Table [dbo].[ZZ_ZAuthVP]    Script Date: 9/3/2021 9:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZZ_ZAuthVP](
	[USERAD] [nvarchar](50) NOT NULL,
	[VP] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
