/****** Object:  Table [dbo].[TempCode]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempCode](
	[Code] [nvarchar](255) NULL,
	[Data1] [nvarchar](255) NULL,
	[Data2] [nvarchar](255) NULL,
	[Data3] [nvarchar](255) NULL,
	[Data4] [nvarchar](255) NULL,
	[Data5] [nvarchar](255) NULL
) ON [PRIMARY]
GO
