/****** Object:  Table [dbo].[ Owners_22_MAR]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ Owners_22_MAR](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OwnerName] [nvarchar](max) NULL,
	[EmployeeID] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[Indicator] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Telephone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[ActionText] [nvarchar](max) NULL,
	[ActionType] [nvarchar](max) NULL,
	[AdminGroup] [nvarchar](max) NULL,
	[AssignmentCostCenter] [int] NULL,
	[BloodGrp] [nvarchar](max) NULL,
	[CEOManagerEmpID] [int] NULL,
	[CEOManagerPositionID] [int] NULL,
	[CEOOrgID] [int] NULL,
	[CEOShortTextEN] [nvarchar](max) NULL,
	[CEOTextEN] [nvarchar](max) NULL,
	[CompanyCode] [int] NULL,
	[CompanyName] [nvarchar](max) NULL,
	[CompanyShortTxt] [nvarchar](max) NULL,
	[DepManagerEmpID] [int] NULL,
	[DepManagerPositionID] [int] NULL,
	[DepOrgID] [int] NULL,
	[DepShortTextEN] [nvarchar](max) NULL,
	[DepTextEN] [nvarchar](max) NULL,
	[DivManagerEmpID] [int] NULL,
	[DivManagerPositionID] [int] NULL,
	[DivOrgID] [int] NULL,
	[DivShortTextEN] [nvarchar](max) NULL,
	[DivTextEN] [nvarchar](max) NULL,
	[EmpGroup] [nvarchar](max) NULL,
	[EmpGroupTxt] [nvarchar](max) NULL,
	[EmpSubGroup] [int] NULL,
	[EmpSubGroupTxt] [nvarchar](max) NULL,
	[EmploymentStatus] [int] NULL,
	[EmploymentStatusTxt] [nvarchar](max) NULL,
	[Extension] [nvarchar](max) NULL,
	[FNGRPManagerEmpID] [int] NULL,
	[FNGRPManagerPositionID] [int] NULL,
	[FNGRPOrgID] [int] NULL,
	[FNGRPShortTextEN] [nvarchar](max) NULL,
	[FNGRPTextEN] [nvarchar](max) NULL,
	[FNManagerEmpID] [int] NULL,
	[FNManagerPositionID] [int] NULL,
	[FNOrgID] [int] NULL,
	[FNShortTextEN] [nvarchar](max) NULL,
	[FNTextEN] [nvarchar](max) NULL,
	[MainPositionCostCenter] [bigint] NULL,
	[MainPositionFlg] [bit] NULL,
	[ManagerialFlag] [bit] NULL,
	[OrgID] [int] NULL,
	[OrgLevel] [int] NULL,
	[OrgShortTextEN] [nvarchar](max) NULL,
	[OrgTextEN] [nvarchar](max) NULL,
	[PSDManagerEmpID] [int] NULL,
	[PSDManagerPositionID] [int] NULL,
	[PSDOrgID] [int] NULL,
	[PSDShortTextEN] [nvarchar](max) NULL,
	[PSDTextEN] [nvarchar](max) NULL,
	[ParentOrgID] [int] NULL,
	[PositionID] [int] NULL,
	[PositionLevel] [int] NULL,
	[PositionShortTextEN] [nvarchar](max) NULL,
	[PositionTextEN] [nvarchar](max) NULL,
	[ShiftManagerEmpID] [int] NULL,
	[ShiftManagerPositionID] [int] NULL,
	[ShiftOrgID] [int] NULL,
	[ShiftShortTextEN] [nvarchar](max) NULL,
	[ShiftTextEN] [nvarchar](max) NULL,
	[SupManagerEmpID] [int] NULL,
	[SupManagerPositionID] [int] NULL,
	[SupOrgID] [int] NULL,
	[SupShortTextEN] [nvarchar](max) NULL,
	[SupTextEN] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[UnitManagerEmpID] [int] NULL,
	[UnitManagerPositionID] [int] NULL,
	[UnitOrgID] [int] NULL,
	[UnitShortTextEN] [nvarchar](max) NULL,
	[UnitTextEN] [nvarchar](max) NULL,
	[DataSource] [nvarchar](max) NULL,
	[Workstream] [nvarchar](max) NULL,
 CONSTRAINT [PK_Temp_Owners_301] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
