/****** Object:  Table [dbo].[PicMember]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PicMember](
	[PicMemberId] [int] IDENTITY(1,1) NOT NULL,
	[PicListId] [int] NULL,
	[MemberType] [nvarchar](max) NULL,
	[MemberName] [nvarchar](max) NULL,
	[Gate] [int] NULL,
	[InitiativeId] [int] NULL,
 CONSTRAINT [PK_PicMember] PRIMARY KEY CLUSTERED 
(
	[PicMemberId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
