/****** Object:  Table [dbo].[ZZZ_999PlanCost]    Script Date: 9/3/2021 9:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZZZ_999PlanCost](
	[WBS_element] [nvarchar](1000) NULL,
	[Plan_Version] [nvarchar](1000) NULL,
	[Cost_element] [nvarchar](1000) NULL,
	[Year] [nvarchar](1000) NULL,
	[Period_1] [nvarchar](1000) NULL,
	[Period_2] [nvarchar](1000) NULL,
	[Period_3] [nvarchar](1000) NULL,
	[Period_4] [nvarchar](1000) NULL,
	[Period_5] [nvarchar](1000) NULL,
	[Period_6] [nvarchar](1000) NULL,
	[Period_7] [nvarchar](1000) NULL,
	[Period_8] [nvarchar](1000) NULL,
	[Period_9] [nvarchar](1000) NULL,
	[Period_10] [nvarchar](1000) NULL,
	[Period_11] [nvarchar](1000) NULL,
	[Period_12] [nvarchar](1000) NULL
) ON [PRIMARY]
GO
