/****** Object:  Table [dbo].[Temp1]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp1](
	[A1] [nvarchar](50) NULL,
	[A2] [nvarchar](50) NULL,
	[A3] [nvarchar](50) NULL,
	[A4] [nvarchar](50) NULL,
	[A5] [nvarchar](50) NULL,
	[A6] [nvarchar](50) NULL,
	[A7] [nvarchar](50) NULL,
	[A8] [nvarchar](50) NULL,
	[A9] [nvarchar](50) NULL
) ON [PRIMARY]
GO
