/****** Object:  Table [dbo].[ZZ_ZMapVPPlant]    Script Date: 9/3/2021 9:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZZ_ZMapVPPlant](
	[VP] [nvarchar](50) NULL,
	[PLANT] [nvarchar](50) NULL
) ON [PRIMARY]
GO
