/****** Object:  View [dbo].[v_bi_TbMstProjectStatus]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_bi_TbMstProjectStatus] AS
select * from X_TbMstProjectStatus


GO
