/****** Object:  Table [dbo].[POC_EPCC]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POC_EPCC](
	[WBS Element] [varchar](50) NULL,
	[PlanStartDate] [varchar](50) NULL,
	[PlanEndDate] [varchar](50) NULL,
	[Year] [varchar](50) NULL,
	[Jan] [varchar](50) NULL,
	[Feb] [varchar](50) NULL,
	[Mar] [varchar](50) NULL,
	[Apr] [varchar](50) NULL,
	[May] [varchar](50) NULL,
	[Jun] [varchar](50) NULL,
	[Jul] [varchar](50) NULL,
	[Aug] [varchar](50) NULL,
	[Sep] [varchar](50) NULL,
	[Oct] [varchar](50) NULL,
	[Nov] [varchar](50) NULL,
	[Dec] [varchar](50) NULL
) ON [PRIMARY]
GO
