/****** Object:  Table [dbo].[Temp_ER]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_ER](
	[InitiativeCode] [nvarchar](255) NULL
) ON [PRIMARY]
GO
