/****** Object:  Table [dbo].[ZZZ_999APPWBS]    Script Date: 9/3/2021 9:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZZZ_999APPWBS](
	[APP] [varchar](100) NULL,
	[WBS] [varchar](100) NULL
) ON [PRIMARY]
GO
