/****** Object:  View [dbo].[v_bi_ViewTbTxnPIMLookbackItem]    Script Date: 9/3/2021 9:18:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create view [dbo].[v_bi_ViewTbTxnPIMLookbackItem] as 
select * from X_ViewTbTxnPIMLookbackItem
GO
