/****** Object:  Table [dbo].[Temp_ProjectInfo_ER]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_ProjectInfo_ER](
	[Note] [varchar](5024) NULL,
	[Project_Id] [varchar](5024) NULL,
	[Idea_MANI_No] [varchar](5024) NULL,
	[AU] [varchar](5024) NULL,
	[Project_Name] [varchar](5024) NULL,
	[eMOC_No] [varchar](5024) NULL,
	[Project_Status] [varchar](5024) NULL,
	[Gate_Status] [varchar](5024) NULL,
	[Phase] [varchar](5024) NULL,
	[Process] [varchar](5024) NULL,
	[Project_Max] [varchar](5024) NULL,
	[Scope_Of_Project] [varchar](5024) NULL,
	[Objective] [varchar](5024) NULL,
	[Project_Engineer] [varchar](5024) NULL,
	[Indicator] [varchar](5024) NULL,
	[Project_Manager] [varchar](5024) NULL,
	[Investment_Type_Name] [varchar](5024) NULL,
	[Project_Type_Name] [varchar](5024) NULL,
	[Priority_Name] [varchar](5024) NULL,
	[Company_Name] [varchar](5024) NULL,
	[Business_Unit_Name] [varchar](5024) NULL,
	[Plant] [varchar](5024) NULL,
	[Unit_No] [varchar](5024) NULL,
	[Registered_Date] [varchar](5024) NULL,
	[Kickoff_Date] [varchar](5024) NULL,
	[Initiator] [varchar](5024) NULL,
	[Approver] [varchar](5024) NULL,
	[JFactor] [varchar](5024) NULL,
	[Simp_Payback_Year] [varchar](5024) NULL,
	[IRR] [varchar](5024) NULL,
	[Estimate_Cost] [varchar](5024) NULL,
	[Plan_Date_To_Complete] [varchar](5024) NULL,
	[Gate1approve_Date] [varchar](5024) NULL,
	[Gate1target_Complete_Date] [varchar](5024) NULL,
	[Gate1estimated_Budget] [varchar](5024) NULL,
	[Gate2approve_Date] [varchar](5024) NULL,
	[Gate2target_Complete_Date] [varchar](5024) NULL,
	[Gate2estimated_Budget] [varchar](5024) NULL,
	[Gate3approve_Date] [varchar](5024) NULL,
	[Gate3target_Complete_Date] [varchar](5024) NULL,
	[Gate3estimated_Budget] [varchar](5024) NULL,
	[Revised1approved_Date] [varchar](5024) NULL,
	[Revised1target_Completion_Date] [varchar](5024) NULL,
	[Revised1approved_Budget] [varchar](5024) NULL,
	[Revised2approved_Date] [varchar](5024) NULL,
	[Revised2target_Completion_Date] [varchar](5024) NULL,
	[Revised2approved_Budget] [varchar](5024) NULL,
	[Gate4approve_Date] [varchar](5024) NULL,
	[Gate4target_Complete_Date] [varchar](5024) NULL,
	[Gate4estimated_Budget] [varchar](5024) NULL,
	[SAP_Basic_Start_Date] [varchar](5024) NULL,
	[SAP_Actual_Start_Date] [varchar](5024) NULL,
	[Project_Completion_Date_EMOC_or_CAP_Date] [varchar](5024) NULL,
	[SAP_Forecast_Finish_Date] [varchar](5024) NULL,
	[SAP_Basic_Finish_Date] [varchar](5024) NULL,
	[SAP_CLSD_Date] [varchar](5024) NULL,
	[Approved_Budget] [varchar](5024) NULL,
	[Project_Size] [varchar](5024) NULL,
	[Project_Phase] [varchar](5024) NULL,
	[Plan_POC] [varchar](5024) NULL,
	[Actual_POC] [varchar](5024) NULL,
	[Variant] [varchar](5024) NULL,
	[Actual_Cost] [varchar](5024) NULL,
	[Committed] [varchar](5024) NULL,
	[Outstanding] [varchar](5024) NULL,
	[Contingency] [varchar](5024) NULL,
	[Validate_Complaint] [varchar](5024) NULL,
	[Highlight_Work] [varchar](5024) NULL,
	[Mitigation_Plan] [varchar](5024) NULL,
	[Performance_Lookback] [varchar](5024) NULL,
	[PSR] [varchar](5024) NULL,
	[Hide_From_Dashboard] [varchar](5024) NULL,
	[Plan_Cost_Version] [varchar](5024) NULL,
	[Version] [varchar](5024) NULL,
	[Is_Simplify] [varchar](5024) NULL,
	[Benefit] [varchar](5024) NULL,
	[Background] [varchar](5024) NULL
) ON [PRIMARY]
GO
