/****** Object:  Table [dbo].[ZZZ_Outstanding]    Script Date: 9/3/2021 9:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZZZ_Outstanding](
	[WBS] [varchar](100) NULL,
	[Outstanding] [varchar](100) NULL,
	[CON] [varchar](100) NULL,
	[EST] [varchar](100) NULL
) ON [PRIMARY]
GO
