/****** Object:  Table [dbo].[Temp_EPCC_Backup_2020-01-14]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_EPCC_Backup_2020-01-14](
	[RunnungNo] [int] NULL,
	[Initiative_No] [varchar](1024) NULL,
	[OwnerName] [varchar](1024) NULL,
	[FirstName] [varchar](1024) NULL,
	[LastName] [varchar](1024) NULL,
	[EmployeeId] [varchar](1024) NULL,
	[Revision_No] [varchar](1024) NULL,
	[Type_of_Investment] [varchar](1024) NULL,
	[Stage] [varchar](1024) NULL,
	[Status] [varchar](1024) NULL,
	[Company_Name] [varchar](1024) NULL,
	[Budget_Form] [varchar](1024) NULL,
	[Company_Type] [varchar](1024) NULL,
	[Cost_Center] [varchar](1024) NULL,
	[Organization] [varchar](1024) NULL,
	[Phase_EPCC] [varchar](1024) NULL,
	[POC_Weight] [varchar](1024) NULL,
	[Start_Date] [varchar](1024) NULL,
	[Finish_Date] [varchar](1024) NULL,
	[Year] [int] NULL,
	[Jan] [varchar](1024) NULL,
	[Feb] [varchar](1024) NULL,
	[Mar] [varchar](1024) NULL,
	[Apr] [varchar](1024) NULL,
	[May] [varchar](1024) NULL,
	[Jun] [varchar](1024) NULL,
	[Jul] [varchar](1024) NULL,
	[Aug] [varchar](1024) NULL,
	[Sep] [varchar](1024) NULL,
	[Oct] [varchar](1024) NULL,
	[Nov] [varchar](1024) NULL,
	[Dec] [varchar](1024) NULL,
	[CheckStatus] [varchar](1024) NULL,
	[Summary] [varchar](1024) NULL
) ON [PRIMARY]
GO
