/****** Object:  Table [dbo].[ZZ_TbSAPCancelProject]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZZ_TbSAPCancelProject](
	[ProjectDefinition] [nvarchar](50) NULL,
	[CancelDate] [datetime] NULL
) ON [PRIMARY]
GO
