/****** Object:  Table [dbo].[TmpInitiativeIdIFs]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TmpInitiativeIdIFs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IFType] [nvarchar](100) NULL,
	[InitiativeId] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[Remark] [nvarchar](100) NULL,
 CONSTRAINT [PK_TmpInitiativeIdIFs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [nci_wi_TmpInitiativeIdIFs_0AF9EF7C91242CCFE6C7E19988C4FE3B]    Script Date: 9/3/2021 9:18:17 PM ******/
CREATE NONCLUSTERED INDEX [nci_wi_TmpInitiativeIdIFs_0AF9EF7C91242CCFE6C7E19988C4FE3B] ON [dbo].[TmpInitiativeIdIFs]
(
	[IFType] ASC
)
INCLUDE([CreatedDate],[InitiativeId]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [nci_wi_TmpInitiativeIdIFs_5BA7CFA063AC895FC6FE3B2AA6FAC386]    Script Date: 9/3/2021 9:18:17 PM ******/
CREATE NONCLUSTERED INDEX [nci_wi_TmpInitiativeIdIFs_5BA7CFA063AC895FC6FE3B2AA6FAC386] ON [dbo].[TmpInitiativeIdIFs]
(
	[IFType] ASC,
	[InitiativeId] ASC,
	[CreatedDate] ASC
)
INCLUDE([Remark]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
