/****** Object:  Table [dbo].[ZZZ_999Date]    Script Date: 9/3/2021 9:18:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZZZ_999Date](
	[Project_Definition] [nvarchar](255) NULL,
	[WBS] [nvarchar](255) NULL,
	[Basic_Start_Date] [nvarchar](255) NULL,
	[Basic_Finish_Date] [nvarchar](255) NULL,
	[Actual_Start_Date] [nvarchar](255) NULL
) ON [PRIMARY]
GO
