/****** Object:  Table [dbo].[X_TbMstPlanCostVersion]    Script Date: 9/3/2021 9:18:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[X_TbMstPlanCostVersion](
	[PlanCostVersionID] [int] NULL,
	[PlanCostVersion] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
