/****** Object:  View [dbo].[v_bi_ViewTbTxnProjectPicture]    Script Date: 9/3/2021 9:18:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_bi_ViewTbTxnProjectPicture] AS
select * from X_ViewTbTxnProjectPicture

GO
