/****** Object:  Table [dbo].[ZZ_ViewProjectPhaseBak]    Script Date: 9/3/2021 9:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZZ_ViewProjectPhaseBak](
	[ProjectID] [int] NOT NULL,
	[Phase] [int] NOT NULL
) ON [PRIMARY]
GO
