/****** Object:  Table [dbo].[Temp_BPC_2]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_BPC_2](
	[WBS] [nvarchar](255) NULL,
	[P1] [decimal](18, 4) NULL,
	[P2] [decimal](18, 4) NULL,
	[P3] [decimal](18, 4) NULL,
	[P4] [decimal](18, 4) NULL,
	[P5] [decimal](18, 4) NULL,
	[P6] [decimal](18, 4) NULL,
	[P7] [decimal](18, 4) NULL,
	[P8] [decimal](18, 4) NULL,
	[P9] [decimal](18, 4) NULL,
	[P10] [decimal](18, 4) NULL,
	[P11] [decimal](18, 4) NULL,
	[P12] [decimal](18, 4) NULL
) ON [PRIMARY]
GO
