/****** Object:  Table [dbo].[CapexBudgetSurveys]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CapexBudgetSurveys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InitiativeId] [int] NULL,
	[TopicId] [nvarchar](max) NULL,
	[ChoiceValue] [nvarchar](max) NULL,
	[Effective] [datetime2](7) NULL,
	[Impact] [nvarchar](max) NULL,
	[Law] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[ChoiceId] [nvarchar](max) NULL,
 CONSTRAINT [PK_CapexBudgetSurveys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
