/****** Object:  Table [dbo].[Initiatives_Temp]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Initiatives_Temp](
	[Id] [int] NULL,
	[InitiativeCode] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Year] [nvarchar](max) NULL,
	[OwnerName] [nvarchar](max) NULL,
	[Plant] [nvarchar](max) NULL,
	[Location] [nvarchar](max) NULL,
	[SpecifyLocation] [nvarchar](max) NULL,
	[RegisteringDate] [datetime2](7) NULL,
	[FinishingDate] [datetime2](7) NULL,
	[ScopeOfWork] [nvarchar](max) NULL,
	[ResultObjective] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL,
	[InitiativeType] [nvarchar](max) NULL,
	[RequestCapex] [nvarchar](max) NULL,
	[CostEstCapex] [decimal](18, 2) NULL,
	[CostEstCapexType] [nvarchar](max) NULL,
	[TypeOfInvestment] [nvarchar](max) NULL,
	[BudgetType] [nvarchar](max) NULL,
	[Ram] [nvarchar](max) NULL,
	[JFactor] [decimal](18, 2) NULL,
	[TypeBenefit] [nvarchar](max) NULL,
	[BenefitAmount] [decimal](18, 3) NULL,
	[BenefitAmountType] [nvarchar](max) NULL,
	[PayBackPeriod] [decimal](18, 2) NULL,
	[Irr] [decimal](18, 2) NULL,
	[FxExchange] [decimal](18, 2) NULL,
	[Cim] [bit] NULL,
	[Pim] [bit] NULL,
	[Dim] [bit] NULL,
	[Max] [bit] NULL,
	[DirectCapex] [bit] NULL,
	[Cpi] [bit] NULL,
	[Strategy] [bit] NULL,
	[RandD] [bit] NULL,
	[Other] [bit] NULL,
	[ApprovedDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[LastActivity] [nvarchar](max) NULL,
	[DeletedFlag] [bit] NULL,
	[Status] [nvarchar](max) NULL,
	[StartingDate] [datetime2](7) NULL,
	[Wacc] [decimal](18, 2) NULL,
	[Stage] [nvarchar](max) NULL,
	[Background] [nvarchar](max) NULL,
	[BudgetSource] [nvarchar](max) NULL,
	[Company] [nvarchar](max) NULL,
	[CostEstOpex] [decimal](18, 2) NULL,
	[Integration] [bit] NULL,
	[InvolveItDigital] [bit] NULL,
	[Organization] [nvarchar](max) NULL,
	[RequestOpex] [nvarchar](max) NULL,
	[RequestProjectEngineer] [bit] NULL,
	[SpecifyCompany] [nvarchar](max) NULL,
	[SpecifyPlant] [nvarchar](max) NULL,
	[TrackMax] [bit] NULL,
	[CostEstOpexType] [nvarchar](max) NULL,
	[CommentCancelled] [nvarchar](max) NULL,
	[LastSubmittedDate] [datetime2](7) NULL,
	[LagacyInitiativeCode] [nvarchar](max) NULL,
	[LagacyInitiativeId] [int] NULL,
	[Divestment] [bit] NULL,
	[GoToStage] [nvarchar](max) NULL,
	[SecretProject] [nvarchar](max) NULL,
	[PoolType] [nvarchar](max) NULL,
	[ITDigital] [nvarchar](max) NULL,
	[CapexStage] [nvarchar](max) NULL,
	[CapexStatus] [nvarchar](max) NULL,
	[IsRequestCapex] [bit] NULL,
	[SSPIM] [nvarchar](max) NULL,
	[DMPlantOwner] [nvarchar](max) NULL,
	[VPPlantOwner] [nvarchar](max) NULL,
	[LookbackOwner] [nvarchar](max) NULL,
	[SortStage] [decimal](18, 2) NULL,
	[InitiativeSubType] [nvarchar](max) NULL,
	[isSetInitiativeSubType] [int] NULL,
	[AlignWithCorpStrategy] [bit] NULL,
	[StrategicObjective] [nvarchar](max) NULL,
	[StrategicYear] [nvarchar](max) NULL,
	[StrategyType] [nvarchar](max) NULL,
	[HistoryFlag] [int] NULL,
	[IsPassPimGate1] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
