/****** Object:  View [dbo].[v_bi_TbMstPlanCostVersion]    Script Date: 9/3/2021 9:18:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[v_bi_TbMstPlanCostVersion] AS
select * from dbo.X_TbMstPlanCostVersion
GO
