/****** Object:  Table [dbo].[InititiveEmoc]    Script Date: 9/3/2021 9:18:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InititiveEmoc](
	[InitiativeId] [int] NULL,
	[eMOCNo] [nvarchar](255) NULL
) ON [PRIMARY]
GO
