/****** Object:  Table [dbo].[temp_migrate_k_Tee_Initiative]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_migrate_k_Tee_Initiative](
	[ProjectId] [nvarchar](max) NULL,
	[ProjectNoSap] [nvarchar](max) NULL,
	[ProjectName] [nvarchar](max) NULL,
	[eMOCNo] [nvarchar](max) NULL,
	[ProjectStatus] [nvarchar](max) NULL,
	[GateStatus] [nvarchar](max) NULL,
	[Phase] [nvarchar](max) NULL,
	[Process] [nvarchar](max) NULL,
	[ProjectMax] [nvarchar](max) NULL,
	[ScopeOfProject] [nvarchar](max) NULL,
	[Objective] [nvarchar](max) NULL,
	[ProjectEngineer] [nvarchar](max) NULL,
	[Indicator] [nvarchar](max) NULL,
	[ProjectManager] [nvarchar](max) NULL,
	[InvestmentTypeName] [nvarchar](max) NULL,
	[ProjectTypeName] [nvarchar](max) NULL,
	[PriorityName] [nvarchar](max) NULL,
	[CompanyName] [nvarchar](max) NULL,
	[BusinessUnitName] [nvarchar](max) NULL,
	[Plant] [nvarchar](max) NULL,
	[UnitNo] [nvarchar](max) NULL,
	[RegisteredDate] [nvarchar](max) NULL,
	[KickoffDate] [nvarchar](max) NULL,
	[Initiator] [nvarchar](max) NULL,
	[Approver] [nvarchar](max) NULL,
	[J-Factor] [nvarchar](max) NULL,
	[SimpPaybackYear] [nvarchar](max) NULL,
	[IRR] [nvarchar](max) NULL,
	[EstimateCost] [nvarchar](max) NULL,
	[PlanDateToComplete] [nvarchar](max) NULL,
	[Gate1approveDate] [nvarchar](max) NULL,
	[Gate1targetCompleteDate] [nvarchar](max) NULL,
	[Gate1estimatedBudget] [nvarchar](max) NULL,
	[Gate2approveDate] [nvarchar](max) NULL,
	[Gate2targetCompleteDate] [nvarchar](max) NULL,
	[Gate2estimatedBudget] [nvarchar](max) NULL,
	[Gate3approveDate] [nvarchar](max) NULL,
	[Gate3targetCompleteDate] [nvarchar](max) NULL,
	[Gate3estimatedBudget] [nvarchar](max) NULL,
	[Revised1approvedDate] [nvarchar](max) NULL,
	[Revised1targetCompletionDate] [nvarchar](max) NULL,
	[Revised1approvedBudget] [nvarchar](max) NULL,
	[Revised2approvedDate] [nvarchar](max) NULL,
	[Revised2targetCompletionDate] [nvarchar](max) NULL,
	[Revised2approvedBudget] [nvarchar](max) NULL,
	[Gate4approveDate] [nvarchar](max) NULL,
	[Gate4targetCompleteDate] [nvarchar](max) NULL,
	[Gate4estimatedBudget] [nvarchar](max) NULL,
	[SAPBasicStartDate] [nvarchar](max) NULL,
	[SAPActualStartDate] [nvarchar](max) NULL,
	[ProjectCompletionDate(EMOCorCAPDate)] [nvarchar](max) NULL,
	[SAPForecastFinishDate] [nvarchar](max) NULL,
	[SAPBasicFinishDate] [nvarchar](max) NULL,
	[SAPCLSDDate] [nvarchar](max) NULL,
	[ApprovedBudget] [nvarchar](max) NULL,
	[ProjectSize] [nvarchar](max) NULL,
	[ProjectPhase] [nvarchar](max) NULL,
	[PlanPOC] [nvarchar](max) NULL,
	[ActualPOC] [nvarchar](max) NULL,
	[Variant] [nvarchar](max) NULL,
	[ActualCost] [nvarchar](max) NULL,
	[Committed] [nvarchar](max) NULL,
	[Outstanding] [nvarchar](max) NULL,
	[Contingency] [nvarchar](max) NULL,
	[ValidateComplaint] [nvarchar](max) NULL,
	[HighlightWork] [nvarchar](max) NULL,
	[MitigationPlan] [nvarchar](max) NULL,
	[PerformanceLookback] [nvarchar](max) NULL,
	[PSR] [nvarchar](max) NULL,
	[HideFromDashboard] [nvarchar](max) NULL,
	[PlanCostVersion] [nvarchar](max) NULL,
	[Version] [nvarchar](max) NULL,
	[IsSimplify] [nvarchar](max) NULL,
	[Benefit] [nvarchar](max) NULL,
	[Background] [nvarchar](max) NULL,
	[IsCreated] [varchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
