/****** Object:  Table [dbo].[Temp_Date_2]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_Date_2](
	[Project_Definition_] [varchar](1024) NULL,
	[WBS] [varchar](1024) NULL,
	[Basic_Start_Date] [varchar](1024) NULL,
	[Basic_Finish_Date] [varchar](1024) NULL,
	[Actual_Start_Date] [varchar](1024) NULL
) ON [PRIMARY]
GO
