/****** Object:  Table [dbo].[ZZ_TbMstLessonLearnedPhase]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZZ_TbMstLessonLearnedPhase](
	[Phase] [int] NOT NULL,
	[PhaseDescription] [nvarchar](100) NULL,
 CONSTRAINT [PK__TbMstLes__5D1E9C2C7D63964E] PRIMARY KEY CLUSTERED 
(
	[Phase] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
