/****** Object:  Table [dbo].[ZZ_TbMstFXRate]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZZ_TbMstFXRate](
	[Year] [int] NOT NULL,
	[PlanRate] [float] NOT NULL,
	[ActualRate] [float] NOT NULL,
 CONSTRAINT [PK__TbMstFXR__D4BD60550CFADF99] PRIMARY KEY CLUSTERED 
(
	[Year] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
