/****** Object:  Table [dbo].[ZZZ_999Proj_Cat]    Script Date: 9/3/2021 9:18:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZZZ_999Proj_Cat](
	[Initiative_No] [nvarchar](1000) NULL,
	[Standard_Project] [nvarchar](1000) NULL,
	[Solomon_Category] [nvarchar](1000) NULL,
	[Business_Unit] [nvarchar](1000) NULL,
	[AreaPanel_No] [nvarchar](1000) NULL,
	[Plant_Unit] [nvarchar](1000) NULL,
	[Physical_Unit] [nvarchar](1000) NULL,
	[Responsible_Person] [nvarchar](1000) NULL,
	[Project_Manager] [nvarchar](1000) NULL,
	[WBS] [nvarchar](1000) NULL
) ON [PRIMARY]
GO
