/****** Object:  Table [dbo].[Temp_A_OverallRequestCAPEX]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_A_OverallRequestCAPEX](
	[WBS] [nvarchar](500) NULL,
	[App  Request] [nvarchar](500) NULL,
	[Idea_MANI_Initiatovate NO] [nvarchar](500) NULL,
	[WAVE_Projectno] [nvarchar](500) NULL,
	[WAVE_ProjectName] [nvarchar](500) NULL,
	[CRO_ProjectName] [nvarchar](500) NULL,
	[CRO_Projectno] [nvarchar](500) NULL,
	[Webinput_ProjectNo] [nvarchar](500) NULL,
	[ProjectName] [nvarchar](500) NULL
) ON [PRIMARY]
GO
