/****** Object:  View [dbo].[v_bi_TbCfgAdjustSPI]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_bi_TbCfgAdjustSPI] AS
select * from X_TbCfgAdjustSPI


GO
