/****** Object:  Table [dbo].[Temp_FixPhysicalUnit]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_FixPhysicalUnit](
	[Initiative_No] [varchar](100) NULL,
	[column_1] [varchar](100) NULL,
	[Physical_Unit] [varchar](100) NULL,
	[Name] [varchar](100) NULL,
	[column_4] [varchar](100) NULL
) ON [PRIMARY]
GO
