/****** Object:  Table [dbo].[VCMAMapping]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VCMAMapping](
	[CompnayCode] [varchar](50) NULL,
	[VCID] [varchar](50) NULL,
	[VCMAEmployeeID] [varchar](50) NULL,
	[VCMAName] [varchar](255) NULL
) ON [PRIMARY]
GO
