/****** Object:  Table [dbo].[ZZZ_Overall_Date_Temp]    Script Date: 9/3/2021 9:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZZZ_Overall_Date_Temp](
	[PROJECT_DEFINITION] [varchar](100) NULL,
	[BASIC_START_DATE] [varchar](100) NULL,
	[BASIC_FINISH_DATE] [varchar](100) NULL
) ON [PRIMARY]
GO
