/****** Object:  UserDefinedFunction [dbo].[GetCurrentMonthFromPeriod]    Script Date: 9/3/2021 9:18:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
CREATE FUNCTION [dbo].[GetCurrentMonthFromPeriod]
(
    @PERIODMONTH		nvarchar(255),
	@PERIODYEAR			nvarchar(255),
	@PROGRESSPLANTYPE	nvarchar(255),
	@PLANACTUAL			nvarchar(255)
)
RETURNS VARCHAR(8000)
AS
BEGIN
    DECLARE	@OutputText  	nvarchar(255)

	SET @OutputText = 
	CASE WHEN UPPER(@PERIODMONTH) = '01' THEN (SELECT TOP 1 JAN FROM PROGRESSPLAN WHERE PROGRESSPLAN.[YEAR] = @PERIODYEAR AND PROGRESSPLANTYPE = @PROGRESSPLANTYPE AND UPPER(PLANACTUAL) = @PLANACTUAL)
	     WHEN UPPER(@PERIODMONTH) = '02' THEN (SELECT TOP 1 FEB FROM PROGRESSPLAN WHERE PROGRESSPLAN.[YEAR] = @PERIODYEAR AND PROGRESSPLANTYPE = @PROGRESSPLANTYPE AND UPPER(PLANACTUAL) = @PLANACTUAL)
		 WHEN UPPER(@PERIODMONTH) = '03' THEN (SELECT TOP 1 MAR FROM PROGRESSPLAN WHERE PROGRESSPLAN.[YEAR] = @PERIODYEAR AND PROGRESSPLANTYPE = @PROGRESSPLANTYPE AND UPPER(PLANACTUAL) = @PLANACTUAL)
		 WHEN UPPER(@PERIODMONTH) = '04' THEN (SELECT TOP 1 APR FROM PROGRESSPLAN WHERE PROGRESSPLAN.[YEAR] = @PERIODYEAR AND PROGRESSPLANTYPE = @PROGRESSPLANTYPE AND UPPER(PLANACTUAL) = @PLANACTUAL)
		 WHEN UPPER(@PERIODMONTH) = '05' THEN (SELECT TOP 1 MAY FROM PROGRESSPLAN WHERE PROGRESSPLAN.[YEAR] = @PERIODYEAR AND PROGRESSPLANTYPE = @PROGRESSPLANTYPE AND UPPER(PLANACTUAL) = @PLANACTUAL)
		 WHEN UPPER(@PERIODMONTH) = '06' THEN (SELECT TOP 1 JUN FROM PROGRESSPLAN WHERE PROGRESSPLAN.[YEAR] = @PERIODYEAR AND PROGRESSPLANTYPE = @PROGRESSPLANTYPE AND UPPER(PLANACTUAL) = @PLANACTUAL)
	     WHEN UPPER(@PERIODMONTH) = '07' THEN (SELECT TOP 1 JUL FROM PROGRESSPLAN WHERE PROGRESSPLAN.[YEAR] = @PERIODYEAR AND PROGRESSPLANTYPE = @PROGRESSPLANTYPE AND UPPER(PLANACTUAL) = @PLANACTUAL)
		 WHEN UPPER(@PERIODMONTH) = '08' THEN (SELECT TOP 1 AUG FROM PROGRESSPLAN WHERE PROGRESSPLAN.[YEAR] = @PERIODYEAR AND PROGRESSPLANTYPE = @PROGRESSPLANTYPE AND UPPER(PLANACTUAL) = @PLANACTUAL)
		 WHEN UPPER(@PERIODMONTH) = '09' THEN (SELECT TOP 1 SEP FROM PROGRESSPLAN WHERE PROGRESSPLAN.[YEAR] = @PERIODYEAR AND PROGRESSPLANTYPE = @PROGRESSPLANTYPE AND UPPER(PLANACTUAL) = @PLANACTUAL)
		 WHEN UPPER(@PERIODMONTH) = '10' THEN (SELECT TOP 1 OCT FROM PROGRESSPLAN WHERE PROGRESSPLAN.[YEAR] = @PERIODYEAR AND PROGRESSPLANTYPE = @PROGRESSPLANTYPE AND UPPER(PLANACTUAL) = @PLANACTUAL)
		 WHEN UPPER(@PERIODMONTH) = '11' THEN (SELECT TOP 1 NOV FROM PROGRESSPLAN WHERE PROGRESSPLAN.[YEAR] = @PERIODYEAR AND PROGRESSPLANTYPE = @PROGRESSPLANTYPE AND UPPER(PLANACTUAL) = @PLANACTUAL)
		 WHEN UPPER(@PERIODMONTH) = '12' THEN (SELECT TOP 1 DEC FROM PROGRESSPLAN WHERE PROGRESSPLAN.[YEAR] = @PERIODYEAR AND PROGRESSPLANTYPE = @PROGRESSPLANTYPE AND UPPER(PLANACTUAL) = @PLANACTUAL)
		 END 
		 
	RETURN	@OutputText
END
GO
