/****** Object:  Table [dbo].[VPMappingNotFound]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VPMappingNotFound](
	[ProjectTypeID] [varchar](50) NULL,
	[IsIDM] [varchar](50) NULL,
	[NotFoundCode] [varchar](50) NULL
) ON [PRIMARY]
GO
