/****** Object:  Table [dbo].[Temp_BPC]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_BPC](
	[WBS] [nvarchar](255) NULL
) ON [PRIMARY]
GO
