/****** Object:  Table [dbo].[Temp2]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp2](
	[A1] [nvarchar](50) NULL
) ON [PRIMARY]
GO
