/****** Object:  Table [dbo].[ZZ_TbMstProject_Detail]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZZ_TbMstProject_Detail](
	[ProjectID] [int] NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Location] [nvarchar](max) NULL,
	[LifeTime] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL,
	[BaseCase] [nvarchar](max) NULL,
	[IRRBase] [decimal](18, 4) NULL,
	[NPVBase] [decimal](18, 4) NULL,
	[PayBackBase] [decimal](18, 4) NULL,
	[OptimisticCase] [nvarchar](max) NULL,
	[IRROptimistic] [decimal](18, 4) NULL,
	[NPVOptimistic] [decimal](18, 4) NULL,
	[PayBackOptimistic] [decimal](18, 4) NULL,
	[PessimisticCase] [nvarchar](max) NULL,
	[IRRPessimistic] [decimal](18, 4) NULL,
	[NPVPessmistic] [decimal](18, 4) NULL,
	[PayBackPessmistic] [decimal](18, 4) NULL,
	[Investment1] [decimal](18, 4) NULL,
	[Investment2] [decimal](18, 4) NULL,
	[Investment3] [decimal](18, 4) NULL,
	[Investment4] [decimal](18, 4) NULL,
	[Investment5] [decimal](18, 4) NULL,
	[Investment6] [decimal](18, 4) NULL,
	[Investment7] [decimal](18, 4) NULL,
	[Investment8] [decimal](18, 4) NULL,
	[Investment9] [decimal](18, 4) NULL,
	[Investment10] [decimal](18, 4) NULL,
	[Investment11] [decimal](18, 4) NULL,
	[Investment12] [decimal](18, 4) NULL,
	[JointVenture] [nvarchar](max) NULL,
	[DERatio] [nvarchar](max) NULL,
	[Objective] [nvarchar](max) NULL,
	[PrincipleAndBackground] [nvarchar](max) NULL,
	[ScopeOfWork] [nvarchar](max) NULL,
	[ProjectLocation] [nvarchar](max) NULL,
	[Process] [nvarchar](max) NULL,
	[MilestoneAndSchedule] [nvarchar](max) NULL,
	[TargetAndResult] [nvarchar](max) NULL,
	[Comparison] [nvarchar](max) NULL,
	[OtherResources] [nvarchar](max) NULL,
	[Others_51] [nvarchar](max) NULL,
	[ConsistentWithStrategy] [nvarchar](max) NULL,
	[BusinessStrategy] [nvarchar](max) NULL,
	[KeySuccessFactor] [nvarchar](max) NULL,
	[KeyRiskFactor] [nvarchar](max) NULL,
	[OperationImpact] [nvarchar](max) NULL,
	[ConflictOfInterest] [nvarchar](max) NULL,
	[Synergy] [nvarchar](max) NULL,
	[RiskMitigation] [nvarchar](max) NULL,
	[Other_52] [nvarchar](max) NULL,
	[BusinessModel] [nvarchar](max) NULL,
	[MarketOverview] [nvarchar](max) NULL,
	[PotentialCustomer] [nvarchar](max) NULL,
	[SalesPlan] [nvarchar](max) NULL,
	[SourceOfFeedStock] [nvarchar](max) NULL,
	[Other_53] [nvarchar](max) NULL,
	[SafetyIndex] [nvarchar](max) NULL,
	[CorporateImage] [nvarchar](max) NULL,
	[ProductQuality] [nvarchar](max) NULL,
	[OthersIndex] [nvarchar](max) NULL,
	[Other_5] [nvarchar](max) NULL,
	[Other_54] [nvarchar](max) NULL,
	[NoteKPI] [nvarchar](max) NULL,
	[Ex_Objective] [nvarchar](max) NULL,
	[Ex_Reasons] [nvarchar](max) NULL,
	[Ex_ROI] [varchar](50) NULL,
	[RequestProjectNoDate] [datetime] NULL,
	[ControlledCurrencyID] [int] NULL,
	[ControlledExchangeRate] [decimal](18, 4) NULL,
	[EBITDABase] [decimal](18, 4) NULL,
	[EBITDAOptimistic] [decimal](18, 4) NULL,
	[EBITDAPessmistic] [decimal](18, 4) NULL,
 CONSTRAINT [PK_Project_Detail] PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
