/****** Object:  View [dbo].[v_bi_TbTxnPlantTRIR]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[v_bi_TbTxnPlantTRIR] AS
 SELECT * FROM X_TbTxnPlantTRIR
GO
