/****** Object:  Table [dbo].[ZZ_TXN_CAPEXDATA]    Script Date: 9/3/2021 9:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZZ_TXN_CAPEXDATA](
	[COMPANY] [nvarchar](255) NULL,
	[PROJECT MASTER] [nvarchar](255) NULL,
	[PROJECT NAME] [nvarchar](255) NULL,
	[PROJECT_ER] [nvarchar](255) NULL,
	[NEW_CARRIED] [nvarchar](255) NULL,
	[PROJECT TYPE] [nvarchar](255) NULL,
	[INVESTMENT TYPE] [nvarchar](255) NULL,
	[VP] [nvarchar](255) NULL,
	[EVP] [nvarchar](255) NULL,
	[PROJECT OWNER] [nvarchar](255) NULL,
	[PROJECT STATUS] [nvarchar](255) NULL,
	[MAIN IO NUMBER] [nvarchar](255) NULL,
	[Forecast START DATE] [datetime] NULL,
	[Forecast END DATE] [datetime] NULL,
	[Actual Start Date] [datetime] NULL,
	[Actual Finish Date] [datetime] NULL,
	[BUDGETING YEAR] [smallint] NULL,
	[POC] [decimal](38, 0) NULL,
	[TOTAL APPROVED BUDGET] [decimal](38, 0) NULL,
	[ACTUAL] [decimal](38, 0) NULL,
	[PR COMMITMENT] [decimal](38, 0) NULL,
	[PO COMMITMENT] [decimal](38, 0) NULL,
	[ACCRUAL FOR CAPITALIZATION] [decimal](38, 0) NULL,
	[Estimate To Complete] [decimal](38, 0) NULL,
	[ESTTOTALSPENDINGAMOUNT] [float] NULL,
	[ESTIMATEDTOTALSPENDINGPERCENT] [float] NULL,
	[BUDGET BALANCE] [float] NULL,
	[CREATE ON (DATE)] [nvarchar](255) NULL,
	[CREATE ON (MONTH)] [nvarchar](255) NULL,
	[CLOSE (MONTH)] [nvarchar](255) NULL,
	[RANK] [nvarchar](255) NULL,
	[PLAN#JAN] [decimal](38, 0) NULL,
	[PLAN#FEB] [decimal](38, 0) NULL,
	[PLAN#MAR] [decimal](38, 0) NULL,
	[PLAN#APR] [decimal](38, 0) NULL,
	[PLAN#MAY] [decimal](38, 0) NULL,
	[PLAN#JUN] [decimal](38, 0) NULL,
	[PLAN#JUL] [decimal](38, 0) NULL,
	[PLAN#AUG] [decimal](38, 0) NULL,
	[PLAN#SEP] [decimal](38, 0) NULL,
	[PLAN#OCT] [decimal](38, 0) NULL,
	[PLAN#NOV] [decimal](38, 0) NULL,
	[PLAN#DEC] [decimal](38, 0) NULL,
	[PLAN#2015] [decimal](38, 0) NULL,
	[PLAN#2016] [decimal](38, 0) NULL
) ON [PRIMARY]
GO
