/****** Object:  View [dbo].[V_TestEmail]    Script Date: 9/3/2021 9:18:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[V_TestEmail]
AS
SELECT  Id
FROM    dbo.v_Initiatives
Where Id in (
72000
,48431
,64792
,60870
,53202
,60894
,53357
,53354
,64854
,52609
,52609
,52617
,52617
,53347
,47172
,53467
,64736
,64859
,64860
,64921
,64925
,64930
,64934
,52780
,52785
,52855
,44928
,53574
,53564
,64951
,64310
,53792
,72879
,64780
,64807
,64811
,64812
,64826
,64829
,64830
,64831
,64842
,64847
,64845
,64863
,64867
,64868
,64869
,64871
,64872
,64873
,64875
,64876
,64877
,64878
,64879
,64836
,64895
,64896
,64885
,64913
,64914
,64942
,64946
,64775
,64785
,64790
,64791
,64850
,49230
,49064
,72880
,49685
,72878
,60402
,64958
,64967
,64960
,64981
,48432
,62438
,61198
,65028
,62129
,72104
,65731
,74474
,73076
,73177
,75442
,76329
,72704
,72708
,65580
,72382
,72340
,74584
,75077
,76879
,76328
,65248
,65290
,65254
,65058
,72065
,75435
,65235
,65433
,65390
,65435
,72722
,72058
,62138
,48883
,51124
,65743
,48334
,72453
,65160
,76146
,64421
,62436
,64387
,65084
,72872
,61199
,72113
,65088
,65054
,65374
,65658
,65308
,72798
,72163
,65083
,65076
,65159
,76168
,72232

)
GO
