/****** Object:  Table [dbo].[Temp_WPMigration_11MAR]    Script Date: 9/3/2021 9:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_WPMigration_11MAR](
	[Project Id] [varchar](500) NULL,
	[Webinput Project No] [varchar](500) NULL,
	[Project No Sap] [varchar](500) NULL,
	[Map Idea MANI Initiative] [varchar](500) NULL,
	[Project Name] [varchar](500) NULL,
	[Step 1] [varchar](500) NULL,
	[Step 2] [varchar](500) NULL,
	[Step 3] [varchar](500) NULL,
	[Step 4] [varchar](500) NOT NULL,
	[Step 5] [varchar](500) NULL,
	[Step 6] [varchar](500) NULL,
	[Step 7] [varchar](500) NULL,
	[Step 8] [varchar](500) NULL,
	[Idea MANI ER  NO] [varchar](500) NULL,
	[Idea MANI CRO NO] [varchar](500) NULL,
	[Idea MANI WAVE NO] [varchar](500) NULL,
	[Idea MANI Web Input NO] [varchar](500) NULL,
	[Idea MANI Web Input NO B] [varchar](500) NULL,
	[Idea MANI E-INI No] [varchar](500) NULL,
	[Idea MANI Urgent Migration] [varchar](500) NULL,
	[Idea MANI User Create No] [varchar](500) NULL,
	[Main] [varchar](500) NULL,
	[Merge Solution] [varchar](500) NULL
) ON [PRIMARY]
GO
