/****** Object:  Table [dbo].[ZZ_Tmp_WAVE_Ideas]    Script Date: 9/3/2021 9:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZZ_Tmp_WAVE_Ideas](
	[snapshot] [varchar](7) NULL,
	[initiative  ] [int] NULL,
	[Creator] [varchar](29) NULL,
	[Creation date] [datetime] NULL,
	[Last modifier] [varchar](29) NULL,
	[Last modification date] [datetime] NULL,
	[Planning] [varchar](13) NULL,
	[Name] [varchar](241) NULL,
	[Initiative owner] [varchar](189) NULL,
	[Wave editor] [varchar](29) NULL,
	[Financial impact area] [varchar](24) NULL,
	[Stakeholders involved (Do not use)] [varchar](max) NULL,
	[Project] [varchar](12) NULL,
	[Sponsor (Approve to IL3  IL4 and IL5)] [varchar](106) NULL,
	[Workstream lead (Approve to IL1 and IL2)] [varchar](85) NULL,
	[Finance (Approve to IL2 and IL3)] [varchar](46) NULL,
	[CTO (Approve to IL1  IL2  IL3  IL4 and IL5)] [varchar](22) NULL,
	[CFO (Approve to IL4 and IL5)] [varchar](31) NULL,
	[Target advancement to IL2] [datetime] NULL,
	[Target advancement to IL3] [datetime] NULL,
	[Target advancement to IL4] [datetime] NULL,
	[Forecasted advancement to IL4] [datetime] NULL,
	[Recurring cash benefit from reduced cost (M THB) (Do not use)] [varchar](max) NULL,
	[Recurring EBIT benefit from increased sales (M THB) (Do not use)] [varchar](max) NULL,
	[Total recurring cash benefit (M THB)] [real] NULL,
	[One-time cash benefit from reduced cost (M THB) (Do not use)] [varchar](max) NULL,
	[One-time EBIT benefit from increased sales (M THB) (Do not use)] [varchar](max) NULL,
	[Total one-time benefit (M THB)] [real] NULL,
	[One-time implementation cost (M THB)] [real] NULL,
	[IL4 total recurring benefit (M THB)] [real] NULL,
	[IL4 total one-time benefit (M THB)] [real] NULL,
	[IL5 total recurring benefit (M THB)] [real] NULL,
	[IL5 total one-time benefit (M THB)] [real] NULL,
	[IL4 Blended Total Benefit (M THB)] [real] NULL,
	[Description of initiative] [varchar](2894) NULL,
	[Procurement category (For Procurement initiatives only)] [varchar](18) NULL,
	[Procurement sub-category (For Procurement initiatives only)] [varchar](33) NULL,
	[Procurement lever (For Procurement initiatives only)] [varchar](41) NULL,
	[Procurement negotiations completed?] [varchar](3) NULL,
	[CAPEX Project Type] [varchar](40) NULL,
	[Project Stage] [varchar](42) NULL,
	[Initiative stage gate] [varchar](23) NULL,
	[Weekly status] [varchar](11) NULL,
	[Critical decisions needed from leadership] [varchar](789) NULL,
	[Status rationale] [varchar](1746) NULL,
	[TO comments (TO Only)] [varchar](1792) NULL,
	[Actions from last week (who  what and when?)] [varchar](2161) NULL,
	[Actions for next week (who  what and when?)] [varchar](2123) NULL,
	[Validation activity 1] [varchar](1345) NULL,
	[Purpose of activity 1] [varchar](401) NULL,
	[Owner 1] [varchar](191) NULL,
	[Due date 1] [datetime] NULL,
	[Results 1 (needed for IL2)] [varchar](680) NULL,
	[Validation activity 2] [varchar](158) NULL,
	[Purpose of activity 2] [varchar](139) NULL,
	[Owner 2] [varchar](191) NULL,
	[Due date 2] [datetime] NULL,
	[Results 2 (needed for IL2)] [varchar](949) NULL,
	[Validation activity 3] [varchar](136) NULL,
	[Purpose of activity 3] [varchar](106) NULL,
	[Owner 3] [varchar](83) NULL,
	[Due date 3] [datetime] NULL,
	[Results 3 (needed for IL2)] [varchar](266) NULL,
	[Validation activity 4] [varchar](152) NULL,
	[Purpose of activity 4] [varchar](84) NULL,
	[Owner 4] [varchar](72) NULL,
	[Due date 4] [datetime] NULL,
	[Results 4 (needed for IL2)] [varchar](234) NULL,
	[How does the initiative change our performance?] [varchar](870) NULL,
	[What do we need to execute the initiative?] [varchar](1452) NULL,
	[Any risks to the business once implemented?] [varchar](257) NULL,
	[Baseline value] [real] NULL,
	[Baseline unit of measure] [varchar](51) NULL,
	[Assumptions (refer to Attachments tab if required)] [varchar](196) NULL,
	[Target baseline value] [real] NULL,
	[Target baseline unit of measure] [varchar](65) NULL,
	[Assumptions] [varchar](196) NULL,
	[Cash from reduced cost - recurring (M THB)] [real] NULL,
	[EBIT from increased sales - recurring (M THB)] [real] NULL,
	[Total cash benefit - recurring (M THB)] [varchar](max) NULL,
	[Cash from reduced cost - one-time (M THB)] [real] NULL,
	[EBIT from increased sales - one-time (M THB)] [real] NULL,
	[Total cash benefit - one-time (M THB)] [varchar](max) NULL,
	[Implementation cost value (M THB)] [real] NULL,
	[Explanation of impact validation methodology and results (including assumptions and key calculation drivers)] [varchar](2116) NULL,
	[IL5 Blended total benefit (M THB)] [real] NULL,
	[Target advancement to IL5] [datetime] NULL,
	[1st approved IL4] [datetime] NULL,
	[Is it TA-linked or endorsed by SC] [varchar](32) NULL,
	[Latest approved IL5 date] [datetime] NULL,
	[Latest approved IL4 date] [datetime] NULL,
	[Workstream] [varchar](36) NULL,
	[Sub-Workstream] [varchar](48) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
