/****** Object:  View [dbo].[v_bi_TbTxnPlanProgress]    Script Date: 9/3/2021 9:18:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_bi_TbTxnPlanProgress] AS
select * from X_TbTxnPlanProgress


GO
